THUNG_GAO_IOT/CODE_SERVER/SERVER_12_10.txt
[{"id":"2cfcecc6.42b7a4","type":"mqtt in","z":"cd91ee01.975a8","name":"","topic":"rBox/log","qos":"0","broker":"ba807293.b389f","x":99.01303100585938,"y":273.0104217529297,"wires":[["cb56ec16.f9f53"]]},{"id":"cb56ec16.f9f53","type":"json","z":"cd91ee01.975a8","name":"","property":"payload","action":"","pretty":false,"x":396.0130310058594,"y":274.01043701171875,"wires":[["c8d9fb68.58aa38"]]},{"id":"edcb22db.fc982","type":"function","z":"cd91ee01.975a8","name":"","func":"\nmsg.topic = \"rBox/\" + msg.payload.id_box\nmsg.payload = \"ok\"\nreturn msg;","outputs":1,"noerr":0,"x":458.01302337646484,"y":573.0104465484619,"wires":[["b3065120.c06d4"]]},{"id":"b3065120.c06d4","type":"mqtt out","z":"cd91ee01.975a8","name":"","topic":"","qos":"","retain":"","broker":"ba807293.b389f","x":622.0130615234375,"y":573.0104370117188,"wires":[]},{"id":"c8d9fb68.58aa38","type":"function","z":"cd91ee01.975a8","name":"xem log gần nhất có gửi chưa","func":"var out =   \"SELECT tb.unit as solan, tb.timer, tb.trangthai, kh.id_box, kh.khoiluong, kh.hoten, kh.diachi, kh.sdt, kh.loaigao FROM khachhang kh INNER JOIN thietbi tb ON kh.id_box = tb.id_box WHERE kh.id_box =\" + msg.payload.id_box + \" ORDER BY tb.unit DESC LIMIT 1\";  \nmsg.topic = out;\nreturn msg;\n","outputs":1,"noerr":0,"x":202,"y":327,"wires":[["58c14b66.e4c3e4"]]},{"id":"7347c5c2.60674c","type":"function","z":"cd91ee01.975a8","name":"kiểm tra có lớn hơn 2 ngày","func":"var timer = new Date(msg.payload[0]['timer']).getDate();\nvar now = new Date();\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar first_time = false\nif (dd - timer < 3){\n first_time = true\n}\nmsg.payload = {\n    solan: msg.payload[0]['solan'],\n    id_box: msg.payload[0]['id_box'],\n    khoiluong: msg.payload[0]['khoiluong'],\n    hoten: msg.payload[0]['hoten'],\n    diachi: msg.payload[0]['diachi'],\n    sdt: msg.payload[0]['sdt'],\n    loaigao: msg.payload[0]['loaigao'],\n    timer: timer,\n    trangthai: msg.payload[0]['trangthai'],\n    first_time: first_time \n}\nreturn msg;","outputs":1,"noerr":0,"x":217.38890075683594,"y":392.3333435058594,"wires":[["39e3140c.56a87c"]]},{"id":"58c14b66.e4c3e4","type":"mysql","z":"cd91ee01.975a8","mydb":"f9a5064a.577cd8","name":"","x":427,"y":325.99993896484375,"wires":[["7347c5c2.60674c"]]},{"id":"9d867fda.14198","type":"switch","z":"cd91ee01.975a8","name":"loại mail sẽ gửi","property":"payload.first_time","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":842.6110496520996,"y":315.3333282470703,"wires":[["2dbc5046.b722e"],["801f1a8a.3d7c88"]]},{"id":"2dbc5046.b722e","type":"function","z":"cd91ee01.975a8","name":"nội dung mail lần 1","func":"msg.to =\"thunggaoiot@gmail.com;nguyenduytam3397@gmail.com\"\nvar out = \"\";\nif (isNaN(msg.payload)) {\n    out = \"Hộ gia đình anh/chị: \" + msg.payload.hoten + \".<br>Có mã thùng: \" + msg.payload.id_box +  \".<br>Đang sử dụng: \" + msg.payload.loaigao + \", sắp hết gạo.<br>Vui lòng liên hệ đến số điện thoại \" + msg.payload.sdt + \" để cung ứng gạo.<br>Địa chỉ khách hàng: \" + msg.payload.diachi + \". <br>Xin cảm ơn sự phục vụ tận tình của cửa hàng!<br>Công ty TNHH Thùng Gạo Nhân Dân\";\n    msg.topic = \"Thông báo cung cấp gạo\";\n    msg.payload = out;\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":1027.0001220703125,"y":292,"wires":[["5ec4115.cf55ff"]]},{"id":"801f1a8a.3d7c88","type":"function","z":"cd91ee01.975a8","name":"nội dung mail lần 2","func":"msg.to =\"thunggaoiot@gmail.com;nguyenduytam3397@gmail.com\"\nvar out = \"\";\nif (isNaN(msg.payload)) {\n    out = \"[Khách hàng chưa nhận được gạo]\" + \"<br>Hộ gia đình anh/chị: \" + msg.payload.hoten + \".<br>Có mã thùng: \" + msg.payload.id_box +  \".<br>Đang sử dụng: \" + msg.payload.loaigao + \", sắp hết gạo.<br>Vui lòng liên hệ đến số điện thoại \" + msg.payload.sdt + \" để cung ứng gạo.<br>Địa chỉ khách hàng: \" + msg.payload.diachi + \". <br>Xin cảm ơn sự phục vụ tận tình của cửa hàng!<br>Công ty TNHH Thùng Gạo Nhân Dân\";\n    msg.topic = \"Thông báo cung cấp gạo\";\n    msg.payload = out;\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":1034.0001220703125,"y":340,"wires":[["5ec4115.cf55ff"]]},{"id":"5ec4115.cf55ff","type":"e-mail","z":"cd91ee01.975a8","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":1276.222412109375,"y":308,"wires":[]},{"id":"577528f9.9475d8","type":"mqtt out","z":"cd91ee01.975a8","name":"","topic":"rBox/log","qos":"","retain":"","broker":"ba807293.b389f","x":606.1041564941406,"y":114.61979675292969,"wires":[]},{"id":"b1a1d86e.a3fd28","type":"inject","z":"cd91ee01.975a8","name":"","topic":"","payload":"{\"id_box\": 2, \"pin\": 3400}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450.1015319824219,"y":113.98176574707031,"wires":[["577528f9.9475d8"]]},{"id":"39e3140c.56a87c","type":"switch","z":"cd91ee01.975a8","name":"kiểm tra số kí","property":"payload.khoiluong","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"num"},{"t":"gt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":434.1043701171875,"y":390.55731201171875,"wires":[["5e15fa6a.cdaf54","8a4bab91.f659e8"],["c0168e1.71e067"]]},{"id":"c0168e1.71e067","type":"switch","z":"cd91ee01.975a8","name":"kiểm tra trạng thái","property":"payload.trangthai","propertyType":"msg","rules":[{"t":"eq","v":"còn gạo","vt":"str"},{"t":"eq","v":"sắp hết","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":643.1066284179688,"y":465.5573425292969,"wires":[["5e15fa6a.cdaf54"],["8a4bab91.f659e8"]]},{"id":"5e15fa6a.cdaf54","type":"function","z":"cd91ee01.975a8","name":"insert new trang thai","func":"\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd + \" \" + hh + \":\" + mmm + \":\" + ss;\ntrangthai = \"sắp hết\"\nquery = \"INSERT INTO `thietbi` (`id_box`, `timer`, `pin`, `trangthai`) VALUES (?,?,?,?)\";\nmsg.payload = [msg.payload.id_box, now, msg.payload.pin, trangthai];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":925.3463134765625,"y":457.0104064941406,"wires":[["7ea83109.6fca4"]]},{"id":"7ea83109.6fca4","type":"mysql","z":"cd91ee01.975a8","mydb":"f9a5064a.577cd8","name":"","x":1126.3462524414062,"y":458.0104064941406,"wires":[[]]},{"id":"8a4bab91.f659e8","type":"switch","z":"cd91ee01.975a8","name":"","property":"payload.pin","propertyType":"msg","rules":[{"t":"lte","v":"2.4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":675.265625,"y":302.7265319824219,"wires":[["db1f17a1.b2ef28"],["9d867fda.14198"]]},{"id":"db1f17a1.b2ef28","type":"function","z":"cd91ee01.975a8","name":"mail thông báo hết pin","func":"msg.to =\"thunggaoiot@gmail.com;nguyenduytam3397@gmail.com\"\nvar out = \"\";\nif (isNaN(msg.payload)) {\n    out = \"[Khách hàng đã hết pin]\" + \"<br>Hộ gia đình anh/chị: \" + msg.payload.hoten + \".<br>Có mã thùng: \" + msg.payload.id_box +  \".<br>Đang sử dụng: \" + msg.payload.loaigao + \", sắp hết gạo.<br>Vui lòng liên hệ đến số điện thoại \" + msg.payload.sdt + \" để cung ứng gạo.<br>Địa chỉ khách hàng: \" + msg.payload.diachi + \". <br>Vui lòng mang theo 2 viên pin tiểu AA để thay cho khách.<br>Xin cảm ơn sự phục vụ tận tình của cửa hàng!<br>Công ty TNHH Thùng Gạo Nhân Dân\";\n    msg.topic = \"Thông báo cung cấp gạo\";\n    msg.payload = out;\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":1013.1796875,"y":243.0104217529297,"wires":[["5ec4115.cf55ff"]]},{"id":"ba807293.b389f","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f9a5064a.577cd8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"rBox","tz":""}]