CAMERA_DEVICE/code_server_node_red/code_thung_gao_full_lay_tu_device
[{"id":"c1d8f23a.33a9f","type":"mqtt in","z":"ed946bf0.cccd18","name":"Nhận thông báo yêu cầu khách hàng","topic":"cntn/iot/esp/thongbao","qos":"2","broker":"66d228db.62ba08","x":660,"y":120,"wires":[["b2283994.dc7638"]]},{"id":"a83e50b4.2ae41","type":"ui_button","z":"ed946bf0.cccd18","name":"","group":"fa0f184a.9ef648","order":0,"width":0,"height":0,"passthru":false,"label":"Tare","color":"","bgcolor":"","icon":"","payload":"tare","payloadType":"str","topic":"","x":347.16666412353516,"y":1209.3333988189697,"wires":[["8a21b1ae.7ace6"]]},{"id":"d8889618.5a1d78","type":"ui_button","z":"ed946bf0.cccd18","name":"","group":"fa0f184a.9ef648","order":0,"width":0,"height":0,"passthru":false,"label":"CALIB","color":"","bgcolor":"","icon":"","payload":"calib","payloadType":"str","topic":"","x":343.1666564941406,"y":1267.3333930969238,"wires":[["2a5ebd31.384ab2"]]},{"id":"8a21b1ae.7ace6","type":"mqtt out","z":"ed946bf0.cccd18","name":"","topic":"ServerToEsp","qos":"","retain":"","broker":"cac66e71.9e6a2","x":523.1666946411133,"y":1209.3334064483643,"wires":[]},{"id":"2a5ebd31.384ab2","type":"mqtt out","z":"ed946bf0.cccd18","name":"","topic":"ServerToEsp","qos":"","retain":"","broker":"cac66e71.9e6a2","x":521.166675567627,"y":1265.3334112167358,"wires":[]},{"id":"fe47320.be547d","type":"function","z":"ed946bf0.cccd18","name":"nội dung mail","func":"var out = \"\";\nif (isNaN(msg.payload)) {\n    \n    out = \"Hộ gia đình anh/chị: \" + msg.payload[0]['hoten'] + \".<br>Có mã thùng: \" + msg.payload[0]['id_box'] +  \".<br>Đang sử dụng: \" + msg.payload[0]['loaigao'] + \", sắp hết gạo.<br>Vui lòng liên hệ đến số điện thoại \" + msg.payload[0]['sdt'] + \" để cung ứng gạo.<br>Địa chỉ khách hàng: \" + msg.payload[0]['diachi'] + \". <br>Xin cảm ơn sự phục vụ tận tình của cửa hàng!<br>Goldeneytech.com.vn\";\n    msg.topic = \"Thông báo cung cấp gạo\";\n    msg.payload = out;\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":1686.931785583496,"y":217.7764711380005,"wires":[["1c71cc4f.d52a54","65d657d2.b251d8","3c513e9d.d206e2"]]},{"id":"1c71cc4f.d52a54","type":"e-mail","z":"ed946bf0.cccd18","server":"smtp.gmail.com","port":"465","secure":true,"name":"thunggaoiot@gmail.com;nguyenduytam3397@gmail.com","dname":"","x":1991.9316635131836,"y":286.81243419647217,"wires":[]},{"id":"65d657d2.b251d8","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1908.9336585998535,"y":165.28216743469238,"wires":[]},{"id":"55abee67.8186","type":"mqtt out","z":"ed946bf0.cccd18","name":"","topic":"ServerToEsp","qos":"","retain":"","broker":"75de0ad0.472554","x":2274.8336029052734,"y":230.33335494995117,"wires":[]},{"id":"3c513e9d.d206e2","type":"function","z":"ed946bf0.cccd18","name":"tắt cờ nhấn nút hoặc cộng thêm 1","func":"msg.payload = {\n    id_box : 1234\n    // id_box : msg.payload[0]['id_box'],\n    // msg : \"button_unlock\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":2012.833511352539,"y":225.3333444595337,"wires":[["55abee67.8186"]]},{"id":"becb5147.74566","type":"mqtt in","z":"ed946bf0.cccd18","name":"","topic":"cntn/iot/esp1/pin","qos":"2","broker":"75de0ad0.472554","x":1704.8333358764648,"y":71.66667175292969,"wires":[["8c9dbed7.6ae9e"]]},{"id":"3386f9a3.1c6f16","type":"mqtt out","z":"ed946bf0.cccd18","name":"","topic":"ServerToEsp","qos":"","retain":"","broker":"75de0ad0.472554","x":2032.000015258789,"y":69.99999618530273,"wires":[]},{"id":"8c9dbed7.6ae9e","type":"function","z":"ed946bf0.cccd18","name":"","func":"msg.payload = \"1\";\nmsg.topic = \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":1875.0000114440918,"y":71.99997138977051,"wires":[["3386f9a3.1c6f16"]]},{"id":"cb14bee7.675c3","type":"ui_form","z":"ed946bf0.cccd18","name":"","label":"(*) Là trường bắt buộc nhập","group":"7856ca96.0e6f94","order":1,"width":0,"height":0,"options":[{"label":"Mã thùng","value":"id_box","type":"number","required":true},{"label":"Họ tên:","value":"hoten","type":"text","required":true},{"label":"Địa chỉ:","value":"diachi","type":"text","required":true},{"label":"Số điện thoại:","value":"sdt","type":"text","required":true},{"label":"Email:","value":"mail","type":"text","required":false},{"label":"Loại gạo:","value":"loaigao","type":"text","required":true},{"label":"Khối lượng (Kg):","value":"khoiluong","type":"number","required":true},{"label":"Số túi lẻ:","value":"sotui","type":"number","required":false},{"label":"Loại túi lẻ (Kg):","value":"loaitui","type":"number","required":false}],"formValue":{"id_box":"","hoten":"","diachi":"","sdt":"","mail":"","loaigao":"","khoiluong":"","sotui":"","loaitui":""},"payload":"","topic":"","x":201.99994659423828,"y":1868.6666774749756,"wires":[["d08b1096.ffe1d","9f82512b.a8c1a","a143ac59.42e6a","acae6131.057b3","55b59198.724ce","7ab7040.53d29fc","5f934889.32abb8","9ec0506f.55067","100fcae6.9998a5","59322.05b08cdf","9ae8e250.6a719","f9f93fa.3e21bc"]]},{"id":"2431b1cd.4bb98e","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":797.0026588439941,"y":1950.0991101264954,"wires":[]},{"id":"300da1d8.27a0ee","type":"function","z":"ed946bf0.cccd18","name":"insert name","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd + \" \" + hh + \":\" + mmm + \":\" + ss;\n\n\nquery = \"INSERT INTO `khachhang` (`id_box`,`hoten`, `diachi`, `sdt`, `email`, `thoigian`, `loaigao`, `khoiluong`, `sotui`,`loaitui`) VALUES (?,?,?,?,?,?,?,?,?,?)\";\nmsg.payload = [msg.payload.id_box, msg.payload.hoten, msg.payload.diachi, msg.payload.sdt, msg.payload.mail, now ,msg.payload.loaigao, msg.payload.khoiluong, msg.payload.sotui, msg.payload.loaitui];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":627.9089584350586,"y":1878.395803451538,"wires":[["8c3f1f03.26e9a","2431b1cd.4bb98e"]]},{"id":"8c3f1f03.26e9a","type":"mysql","z":"ed946bf0.cccd18","mydb":"12b1c41f.94972c","name":"","x":737.9088401794434,"y":1810.3958683013916,"wires":[["22dcdef4.35fc12"]]},{"id":"3c3b4847.d73058","type":"function","z":"ed946bf0.cccd18","name":"insert name","func":"\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd + \" \" + hh + \":\" + mmm + \":\" + ss;\n\nquery = \"INSERT INTO `thietbi` (`id_box`,`soki`, `timer`, `pin`, `trangthai`) VALUES (?,?,?,?,?)\";\nmsg.payload = [msg.payload.id_box, msg.payload.soki, now, msg.payload.pin, msg.payload.trangthai];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1703.9999732971191,"y":1415.6666622161865,"wires":[["6d277788.9840b8","a8a34559.0eb6f8"]]},{"id":"6d277788.9840b8","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1858.0937576293945,"y":1371.3698024749756,"wires":[]},{"id":"a8a34559.0eb6f8","type":"mysql","z":"ed946bf0.cccd18","mydb":"12b1c41f.94972c","name":"","x":1830.9999465942383,"y":1464.6667232513428,"wires":[[]]},{"id":"5639d344.fe040c","type":"mqtt in","z":"ed946bf0.cccd18","name":"","topic":"cntn/iot/esp/log","qos":"2","broker":"75de0ad0.472554","x":1249.1015319824219,"y":1417.0415840148926,"wires":[["1786f2b3.3d815d","6403f574.f577cc","d63d8b3c.57da68","fdee36f8.071528"]]},{"id":"5cce695f.e92648","type":"mqtt out","z":"ed946bf0.cccd18","name":"","topic":"cntn/iot/esp/log","qos":"","retain":"","broker":"75de0ad0.472554","x":1546.1041412353516,"y":1602.3281240463257,"wires":[]},{"id":"9f3d52ca.0ae83","type":"ui_form","z":"ed946bf0.cccd18","name":"","label":"mqtt test","group":"323ad79d.4cac88","order":0,"width":0,"height":0,"options":[{"label":"ID:","value":"id_box","type":"number","required":true},{"label":"Khối lượng:","value":"soki","type":"number","required":true},{"label":"Pin","value":"pin","type":"number","required":true},{"label":"Trạng thái:","value":"trangthai","type":"text","required":true}],"formValue":{"id_box":"","soki":"","pin":"","trangthai":""},"payload":"","topic":"","x":1242.0130462646484,"y":1626.677077293396,"wires":[["5cce695f.e92648","17501543.ca7cab"]]},{"id":"17501543.ca7cab","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1528.1067810058594,"y":1679.3749680519104,"wires":[]},{"id":"1786f2b3.3d815d","type":"json","z":"ed946bf0.cccd18","name":"","property":"payload","action":"","pretty":false,"x":1414.096290588379,"y":1463.244818687439,"wires":[["3c3b4847.d73058"]]},{"id":"d08b1096.ffe1d","type":"ui_text","z":"ed946bf0.cccd18","group":"8fa52173.e87e8","order":2,"width":0,"height":0,"name":"","label":"Mã thùng:","format":"{{msg.payload.id_box}}","layout":"row-spread","x":656.0764007568359,"y":2115.5834312438965,"wires":[]},{"id":"9f82512b.a8c1a","type":"ui_text","z":"ed946bf0.cccd18","group":"8fa52173.e87e8","order":3,"width":0,"height":0,"name":"","label":"Họ tên:","format":"{{msg.payload.hoten}}","layout":"row-spread","x":658.0729217529297,"y":2166.5903282165527,"wires":[]},{"id":"a143ac59.42e6a","type":"ui_text","z":"ed946bf0.cccd18","group":"8fa52173.e87e8","order":4,"width":0,"height":0,"name":"","label":"Địa chỉ:","format":"{{msg.payload.diachi}}","layout":"row-spread","x":655.0694427490234,"y":2225.5834312438965,"wires":[]},{"id":"acae6131.057b3","type":"ui_text","z":"ed946bf0.cccd18","group":"8fa52173.e87e8","order":5,"width":0,"height":0,"name":"","label":"Số điện thoại:","format":"{{msg.payload.sdt}}","layout":"row-spread","x":667.0832977294922,"y":2279.593807220459,"wires":[]},{"id":"55b59198.724ce","type":"ui_text","z":"ed946bf0.cccd18","group":"8fa52173.e87e8","order":6,"width":0,"height":0,"name":"","label":"Email","format":"{{msg.payload.mail}}","layout":"row-spread","x":635.0694427490234,"y":2340.5834312438965,"wires":[]},{"id":"7ab7040.53d29fc","type":"ui_text","z":"ed946bf0.cccd18","group":"8fa52173.e87e8","order":7,"width":0,"height":0,"name":"","label":"Loại gạo:","format":"{{msg.payload.loaigao}}","layout":"row-spread","x":635.0694427490234,"y":2388.812557220459,"wires":[]},{"id":"5f934889.32abb8","type":"ui_text","z":"ed946bf0.cccd18","group":"8fa52173.e87e8","order":8,"width":0,"height":0,"name":"","label":"Khối lượng (KG):","format":"{{msg.payload.khoiluong}}","layout":"row-spread","x":664.0798187255859,"y":2444.8021812438965,"wires":[]},{"id":"9ec0506f.55067","type":"ui_text","z":"ed946bf0.cccd18","group":"8fa52173.e87e8","order":9,"width":0,"height":0,"name":"","label":"Số túi lẻ:","format":"{{msg.payload.sotui}}","layout":"row-spread","x":626.0764007568359,"y":2501.8160362243652,"wires":[]},{"id":"100fcae6.9998a5","type":"ui_text","z":"ed946bf0.cccd18","group":"8fa52173.e87e8","order":10,"width":0,"height":0,"name":"","label":"Loại túi lẻ (KG):","format":"{{msg.payload.loaitui}}","layout":"row-spread","x":637.0832977294922,"y":2547.8056602478027,"wires":[]},{"id":"59322.05b08cdf","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":271.8905906677246,"y":1561.3659267425537,"wires":[]},{"id":"c55d7454.9bb8c8","type":"ui_text","z":"ed946bf0.cccd18","group":"3fdce7f7.7546a8","order":1,"width":0,"height":0,"name":"","label":"Mã thùng:","format":"{{msg.payload}}","layout":"row-spread","x":2090.000156402588,"y":2005.0001783370972,"wires":[]},{"id":"2e814d14.c7cdf2","type":"ui_text","z":"ed946bf0.cccd18","group":"3fdce7f7.7546a8","order":2,"width":0,"height":0,"name":"","label":"Họ tên:","format":"{{msg.payload}}","layout":"row-spread","x":2096.996524810791,"y":2050.0070447921753,"wires":[]},{"id":"6684fbfb.8e8454","type":"ui_text","z":"ed946bf0.cccd18","group":"3fdce7f7.7546a8","order":3,"width":0,"height":0,"name":"","label":"Địa chỉ:","format":"{{msg.payload}}","layout":"row-spread","x":2102.9929847717285,"y":2101.000178337097,"wires":[]},{"id":"6a5cb75d.2a9818","type":"ui_text","z":"ed946bf0.cccd18","group":"3fdce7f7.7546a8","order":4,"width":0,"height":0,"name":"","label":"Số điện thoại:","format":"{{msg.payload}}","layout":"row-spread","x":2127.0068702697754,"y":2154.010431289673,"wires":[]},{"id":"2c796955.f9f086","type":"ui_text","z":"ed946bf0.cccd18","group":"3fdce7f7.7546a8","order":5,"width":0,"height":0,"name":"","label":"Email","format":"{{msg.payload}}","layout":"row-spread","x":2094.993076324463,"y":2226.0001192092896,"wires":[]},{"id":"f634a26a.56821","type":"ui_text","z":"ed946bf0.cccd18","group":"3fdce7f7.7546a8","order":7,"width":0,"height":0,"name":"","label":"Loại gạo:","format":"{{msg.payload}}","layout":"row-spread","x":2100.9929847717285,"y":2360.229248046875,"wires":[]},{"id":"ba0459e8.4d8e18","type":"ui_text","z":"ed946bf0.cccd18","group":"3fdce7f7.7546a8","order":8,"width":0,"height":0,"name":"","label":"Khối lượng (KG):","format":"{{msg.payload}}","layout":"row-spread","x":2128.0034217834473,"y":2405.2188720703125,"wires":[]},{"id":"c8e9ca04.e94a78","type":"ui_text","z":"ed946bf0.cccd18","group":"3fdce7f7.7546a8","order":9,"width":0,"height":0,"name":"","label":"Số túi lẻ:","format":"{{msg.payload}}","layout":"row-spread","x":2105.999973297119,"y":2468.2327575683594,"wires":[]},{"id":"56c07098.9ea96","type":"ui_text","z":"ed946bf0.cccd18","group":"3fdce7f7.7546a8","order":10,"width":0,"height":0,"name":"","label":"Loại túi lẻ (KG):","format":"{{msg.payload}}","layout":"row-spread","x":2120.0069007873535,"y":2521.2222290039062,"wires":[]},{"id":"9f6bc1a1.86a6f","type":"ui_text_input","z":"ed946bf0.cccd18","name":"Mã thùng:","label":"Nhập mã thùng","group":"1072fa48.9fe3f6","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":1151.1667175292969,"y":1883.0000801086426,"wires":[["b7ec6a9e.a34858","8efc5c30.b4762"]]},{"id":"b7ec6a9e.a34858","type":"change","z":"ed946bf0.cccd18","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"ID","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1333,"y":1820.6667404174805,"wires":[[]]},{"id":"8efc5c30.b4762","type":"ui_button","z":"ed946bf0.cccd18","name":"","group":"1072fa48.9fe3f6","order":3,"width":0,"height":0,"passthru":false,"label":"Kiểm tra","color":"","bgcolor":"","icon":"","payload":"ID","payloadType":"flow","topic":"","x":1314.9999694824219,"y":1924.666706085205,"wires":[["de9661ac.a6a55"]]},{"id":"de9661ac.a6a55","type":"function","z":"ed946bf0.cccd18","name":"select","func":"\nquery = \"SELECT * FROM khachhang INNER join thietbi on khachhang.id_box = thietbi.id_box WHERE khachhang.id_box = \" + msg.payload + \" ORDER BY thietbi.unit DESC LIMIT 1\";\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1486.9999771118164,"y":1909.6667575836182,"wires":[["5234c3f4.69e5ac"]]},{"id":"5234c3f4.69e5ac","type":"mysql","z":"ed946bf0.cccd18","mydb":"12b1c41f.94972c","name":"thunggao","x":1625.0000343322754,"y":1906.6668043136597,"wires":[["70e7650c.3b1b8c","8e0cf5f8.783228","2202a7ec.d50888","adf28839.7d9f78","da60d69c.6c8568","156a2c2f.cd3fe4","a757f71f.c7de48","f6356a4b.e249b8","890ca169.267b9","7f81c3d5.19201c","d5c6564f.3111e8","e667e02e.11a87","106605da.8a07ca","6521ab15.f82014","e2b4b9db.d55fa8"]]},{"id":"8e0cf5f8.783228","type":"function","z":"ed946bf0.cccd18","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['id_box'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1900.2986793518066,"y":1960.298701286316,"wires":[["c55d7454.9bb8c8","b06fc1b0.c285f"]]},{"id":"2202a7ec.d50888","type":"function","z":"ed946bf0.cccd18","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['hoten'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1917.2394714355469,"y":2051.6770820617676,"wires":[["2e814d14.c7cdf2"]]},{"id":"adf28839.7d9f78","type":"function","z":"ed946bf0.cccd18","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['diachi'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1910.2394714355469,"y":2104.6770820617676,"wires":[["6684fbfb.8e8454"]]},{"id":"da60d69c.6c8568","type":"function","z":"ed946bf0.cccd18","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['sdt'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1921.2394714355469,"y":2155.6770820617676,"wires":[["6a5cb75d.2a9818"]]},{"id":"156a2c2f.cd3fe4","type":"function","z":"ed946bf0.cccd18","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['email'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1929.2394714355469,"y":2228.6770820617676,"wires":[["2c796955.f9f086"]]},{"id":"a757f71f.c7de48","type":"function","z":"ed946bf0.cccd18","name":"","func":"\nvar str = msg.payload;\nif (isNaN(str))\nstr = str[0]['thoigian'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1926.2393951416016,"y":2298.6770372390747,"wires":[["89f46133.cf7ca"]]},{"id":"f6356a4b.e249b8","type":"function","z":"ed946bf0.cccd18","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['loaigao'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1917.2394485473633,"y":2358.6771507263184,"wires":[["f634a26a.56821"]]},{"id":"890ca169.267b9","type":"function","z":"ed946bf0.cccd18","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['khoiluong'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1917.2393913269043,"y":2408.6770992279053,"wires":[["ba0459e8.4d8e18"]]},{"id":"7f81c3d5.19201c","type":"function","z":"ed946bf0.cccd18","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['sotui'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1920.239444732666,"y":2468.6771035194397,"wires":[["c8e9ca04.e94a78"]]},{"id":"6521ab15.f82014","type":"function","z":"ed946bf0.cccd18","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['loaitui'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1928.239444732666,"y":2523.677161693573,"wires":[["56c07098.9ea96"]]},{"id":"89f46133.cf7ca","type":"ui_text","z":"ed946bf0.cccd18","group":"3fdce7f7.7546a8","order":6,"width":0,"height":0,"name":"","label":"Thời gian mua:","format":"{{msg.payload}}","layout":"row-spread","x":2117.239444732666,"y":2298.6773042678833,"wires":[]},{"id":"2fb14821.8f6358","type":"ui_text","z":"ed946bf0.cccd18","group":"1072fa48.9fe3f6","order":1,"width":0,"height":0,"name":"","label":"Kết quả tra cứu:","format":"{{msg.payload}}","layout":"row-spread","x":2133.7363052368164,"y":2592.2608070373535,"wires":[]},{"id":"70e7650c.3b1b8c","type":"function","z":"ed946bf0.cccd18","name":"","func":"\nif( isNaN(msg.payload)){\n msg.payload = \"Đã tìm thấy khách hàng\";\n }else{\n  msg.payload = \"Không tìm thấy khách hàng\";\n }\n  return msg;\n ","outputs":1,"noerr":0,"x":1943.7431983947754,"y":2590.9654579162598,"wires":[["8d5d2921.718da8","2fb14821.8f6358"]]},{"id":"8d5d2921.718da8","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":2122.000156402588,"y":2653.667179107666,"wires":[]},{"id":"d5c6564f.3111e8","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1936.9999732971191,"y":1666.666696548462,"wires":[]},{"id":"a76472bb.c7f4","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"complete":false,"x":1161.9999694824219,"y":2711.666706085205,"wires":[]},{"id":"c903da30.e0f8e8","type":"inject","z":"ed946bf0.cccd18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":686.9999694824219,"y":2714.666706085205,"wires":[["7f461441.0a6ccc"]]},{"id":"7f461441.0a6ccc","type":"function","z":"ed946bf0.cccd18","name":"Format timestamp","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd + \" \" + hh + \":\" + mmm + \":\" + ss;\nmsg.payload = now;\nreturn msg;","outputs":1,"noerr":0,"x":876.9999694824219,"y":2714.666706085205,"wires":[["a76472bb.c7f4"]]},{"id":"a4f4fa1f.041968","type":"inject","z":"ed946bf0.cccd18","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":705.9999694824219,"y":2882.666706085205,"wires":[["ce3123f0.2f4c8"]]},{"id":"863b2ec8.295d9","type":"debug","z":"ed946bf0.cccd18","name":"output","active":true,"console":"false","complete":"true","x":1297.9999694824219,"y":2810.666706085205,"wires":[]},{"id":"edf2f02c.32d19","type":"function","z":"ed946bf0.cccd18","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1107.9999694824219,"y":2879.666706085205,"wires":[["863b2ec8.295d9"]]},{"id":"ce3123f0.2f4c8","type":"function","z":"ed946bf0.cccd18","name":"set timestamp","func":"msg.timestamp=1376763133 * 1000;\nreturn msg;","outputs":1,"noerr":0,"x":889.9999694824219,"y":2882.666706085205,"wires":[["edf2f02c.32d19"]]},{"id":"29ed20a9.c2a04","type":"inject","z":"ed946bf0.cccd18","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":705.9999694824219,"y":2810.666706085205,"wires":[["edf2f02c.32d19"]]},{"id":"58e5f3fc.9ac53c","type":"ui_gauge","z":"ed946bf0.cccd18","name":"Dung lượng Pin (Volte)","group":"1ac7af73.7ad1e1","order":5,"width":"","height":"","gtype":"gage","title":"Dung lượng Pin (Volte)","label":"","format":"{{value}}","min":0,"max":"9","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2131.9999465942383,"y":1776.66672706604,"wires":[]},{"id":"8adb32c0.d4dbb","type":"ui_gauge","z":"ed946bf0.cccd18","name":"Khối lượng (KG)","group":"1ac7af73.7ad1e1","order":4,"width":"0","height":"0","gtype":"wave","title":"","label":" KG","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2118.999973297119,"y":1871.6667432785034,"wires":[]},{"id":"6ce8e598.4ddfdc","type":"ui_chart","z":"ed946bf0.cccd18","name":"Biểu đồ sử dụng","group":"5d917d36.5f4ac4","order":1,"width":"","height":"","label":"thunggaoiot@gmail.com","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Biểu đồ sử dụng","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":2120.0000343322754,"y":1829.6667127609253,"wires":[[],[]]},{"id":"a87e843d.c3c528","type":"ui_text","z":"ed946bf0.cccd18","group":"1ac7af73.7ad1e1","order":2,"width":"","height":"","name":"+ Tình trạng:","label":"+ Tình trạng:","format":"{{msg.payload}}","layout":"row-left","x":2100.0000343322754,"y":1731.66672706604,"wires":[]},{"id":"bc497d10.52bca","type":"ui_text","z":"ed946bf0.cccd18","group":"5d917d36.5f4ac4","order":4,"width":"","height":"","name":"+ Dự đoán số ngày sử dụng hết:","label":"+ Dự đoán số ngày sử dụng hết:","format":"{{msg.payload}}","layout":"row-left","x":2336,"y":1922.6668338775635,"wires":[]},{"id":"b06fc1b0.c285f","type":"ui_text","z":"ed946bf0.cccd18","group":"1ac7af73.7ad1e1","order":1,"width":"","height":"","name":"+ Mã thùng:","label":"+ Mã thùng:","format":"{{msg.payload}}","layout":"row-left","x":2100.0000343322754,"y":1963.6668348312378,"wires":[]},{"id":"e2b4b9db.d55fa8","type":"function","z":"ed946bf0.cccd18","name":"","func":"// var str = msg.payload;\n// if (isNaN(str))\n// str = str[0]['pin'];\n// else\n// str = \"0\";\nstr = 7;\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1912.0000076293945,"y":1814.666742324829,"wires":[["58e5f3fc.9ac53c"]]},{"id":"e667e02e.11a87","type":"function","z":"ed946bf0.cccd18","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['soki'];\nelse\nstr = \"0\";\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1908.9999465942383,"y":1877.6667127609253,"wires":[["6ce8e598.4ddfdc","8adb32c0.d4dbb","79ebbb1d.0a3884"]]},{"id":"106605da.8a07ca","type":"function","z":"ed946bf0.cccd18","name":"trạng thái","func":"var str = msg.payload;\nif (isNaN(str)){\n    if(str[0]['trangthai'] == \"còn gạo\")\n    str = \"Đủ sử dụng\";\n    else if (str[0]['trangthai'] == \"sắp hết\")\n    str = \"Sắp hết gạo\";\n    else if (str[0]['trangthai'] == \"yêu cầu\")\n    str = \"Được yêu cầu gấp\"\n    else\n    str =\"\";\n}\n\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1921.9999771118164,"y":1752.66672706604,"wires":[["a87e843d.c3c528"]]},{"id":"79ebbb1d.0a3884","type":"function","z":"ed946bf0.cccd18","name":"","func":"if (msg.payload !== 0)\nmsg.payload += 1;\nreturn msg;","outputs":1,"noerr":0,"x":2115.0000381469727,"y":1919.6668033599854,"wires":[["bc497d10.52bca"]]},{"id":"b2283994.dc7638","type":"json","z":"ed946bf0.cccd18","name":"","property":"payload","action":"","pretty":false,"x":941.8945827484131,"y":139.1718864440918,"wires":[["3b831daa.32e2a2","39675b37.a6ab64"]]},{"id":"a62d986e.5bda78","type":"function","z":"ed946bf0.cccd18","name":"select điền mail","func":"var id_box = msg.payload.id_box;\nif (isNaN(id_box))\n id_box = msg.payload[0]['id_box'];\n \nvar out = \"SELECT kh.id_box, kh.hoten, kh.diachi, kh.sdt, kh.loaigao FROM khachhang kh WHERE kh.id_box =\" + id_box;\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1332.8984298706055,"y":162.9765911102295,"wires":[["4ab0a520.7b33ac","5bad6901.800c18"]]},{"id":"b657388d.b5e7e8","type":"mqtt out","z":"ed946bf0.cccd18","name":"","topic":"cntn/iot/esp/thongbao","qos":"","retain":"","broker":"75de0ad0.472554","x":801.8944702148438,"y":225.6523551940918,"wires":[]},{"id":"70438fc3.706e9","type":"inject","z":"ed946bf0.cccd18","name":"yêu cầu","topic":"thunggaoiot@gmail.com","payload":"{\"id_box\":412, \"thongbao\":\"yêu cầu\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":538.8866577148438,"y":239.4414176940918,"wires":[["b657388d.b5e7e8"]]},{"id":"4ab0a520.7b33ac","type":"mysql","z":"ed946bf0.cccd18","mydb":"12b1c41f.94972c","name":"","x":1491.0195083618164,"y":221.00390911102295,"wires":[["fe47320.be547d","f3115cb8.101bd"]]},{"id":"5bad6901.800c18","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":1511.89453125,"y":105.69924640655518,"wires":[]},{"id":"f3115cb8.101bd","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1642.886703491211,"y":308.6953172683716,"wires":[]},{"id":"67edf63.f7b2808","type":"inject","z":"ed946bf0.cccd18","name":"","topic":"","payload":"{\"id_box\":412, \"soki\":20,\"pin\":4, \"trangthai\":\"sắp hết\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1250.0195007324219,"y":1688.670612335205,"wires":[["5cce695f.e92648","17501543.ca7cab"]]},{"id":"3b831daa.32e2a2","type":"switch","z":"ed946bf0.cccd18","name":"kiểm tra trạng thái","property":"payload.thongbao","propertyType":"msg","rules":[{"t":"eq","v":"\"yêu cầu\"","vt":"jsonata"},{"t":"eq","v":"\"sắp hết\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1097.1666564941406,"y":229.00001335144043,"wires":[["a62d986e.5bda78"],["3decb2a7.8bba5e"]]},{"id":"7b9c7e82.74e5","type":"inject","z":"ed946bf0.cccd18","name":"sắp hết","topic":"thunggaoiot@gmail.com","payload":"{\"id_box\":412, \"thongbao\":\"sắp hết\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":538.9921264648438,"y":286.7890739440918,"wires":[["b657388d.b5e7e8"]]},{"id":"3041f821.432c68","type":"inject","z":"ed946bf0.cccd18","name":"còn gạo","topic":"thunggaoiot@gmail.com","payload":"{\"id_box\":412, \"thongbao\":\"còn gạo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":532.9999732971191,"y":343.0000138282776,"wires":[["b657388d.b5e7e8"]]},{"id":"39675b37.a6ab64","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1073.1666374206543,"y":62.66669273376465,"wires":[]},{"id":"3decb2a7.8bba5e","type":"function","z":"ed946bf0.cccd18","name":"select kiểm tra kí","func":"var out =   \"SELECT kh.id_box, kh.khoiluong, MAX(tb.soki) as soki FROM khachhang kh INNER JOIN thietbi tb ON kh.id_box = tb.id_box WHERE kh.id_box =\" + msg.payload.id_box ; \n//+ \" ORDER BY tb.unit DESC LIMIT 1\"\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":871.1666564941406,"y":359.6667003631592,"wires":[["264abcad.d25f04"]]},{"id":"264abcad.d25f04","type":"mysql","z":"ed946bf0.cccd18","mydb":"12b1c41f.94972c","name":"","x":890.9999885559082,"y":453.66670393943787,"wires":[["a9e263ce.b1e89","267eb1c2.e66c2e"]]},{"id":"a9e263ce.b1e89","type":"function","z":"ed946bf0.cccd18","name":"kiểm tra hết thật chưa","func":"if(msg.payload[0]['khoiluong'] - 2 > msg.payload[0]['soki'])\nmsg.payload.thongbao = \"đợi confirm\";\nelse\nmsg.payload.thongbao = \"đã hết\";\nreturn msg;","outputs":1,"noerr":0,"x":1137.166660308838,"y":367.66676330566406,"wires":[["8f462aaf.f6fcb8"]]},{"id":"267eb1c2.e66c2e","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1092.1666641235352,"y":496.66678619384766,"wires":[]},{"id":"8f462aaf.f6fcb8","type":"switch","z":"ed946bf0.cccd18","name":"rẻ nhánh đợi hay gọi","property":"payload.thongbao","propertyType":"msg","rules":[{"t":"eq","v":"\"đã hết\"","vt":"jsonata"},{"t":"eq","v":"\"đợi confirm\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1357.1666717529297,"y":426.66670322418213,"wires":[["a62d986e.5bda78","96f3f665.6da978"],["42494276.b0762c"]]},{"id":"96f3f665.6da978","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.thongbao","x":1695.1666793823242,"y":408.33337020874023,"wires":[]},{"id":"42494276.b0762c","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.thongbao","x":1691.1666717529297,"y":458.33337211608887,"wires":[]},{"id":"627e8390.57627c","type":"inject","z":"ed946bf0.cccd18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1437.9999465942383,"y":566.6666927337646,"wires":[["91b13ef6.fce2b"]]},{"id":"755aa2de.4ec98c","type":"sms","z":"ed946bf0.cccd18","name":"sms","message":"","numbers":"+84988638043","throttle":"1","twilio":"23b0b06e.e0f98","x":1790.9860610961914,"y":559.3680381774902,"wires":[["4a0d4256.27ad3c"]]},{"id":"91b13ef6.fce2b","type":"function","z":"ed946bf0.cccd18","name":"","func":"var mess = {\n    payload: \"Gao cua ban sap het, vui long nhan 2 lan nut mau DO tren thung gao de xac nhan, chung toi se lien he lai. Xin cam on!\"\n};\nreturn mess;","outputs":1,"noerr":0,"x":1621.00004196167,"y":559.3403186798096,"wires":[["755aa2de.4ec98c"]]},{"id":"4a0d4256.27ad3c","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1955.986125946045,"y":561.2951755523682,"wires":[]},{"id":"50157c53.6908f4","type":"twilio out","z":"ed946bf0.cccd18","twilio":"90406709.added8","twilioType":"call","url":"https://api.twilio.com/2010-0401/Accounts/my_account/Calls.json","number":"+841666942492","name":"","x":1796.0834274291992,"y":624.3611125946045,"wires":[]},{"id":"bd03e19.c9d932","type":"ui_text","z":"ed946bf0.cccd18","group":"8fa52173.e87e8","order":1,"width":0,"height":0,"name":"","label":"Kết quả nhập:","format":"{{msg.payload}}","layout":"row-spread","x":1119.1485691070557,"y":2037.3778591156006,"wires":[]},{"id":"22dcdef4.35fc12","type":"function","z":"ed946bf0.cccd18","name":" ","func":"var str = \"\";\nif (isNaN(msg.payload))\n    str = \"Đã lưu thông tin người dùng\";\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":886.1327514648438,"y":1885.6511421203613,"wires":[["6522fd5f.deb844"]]},{"id":"6522fd5f.deb844","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":999.3944778442383,"y":1970.3659114837646,"wires":[]},{"id":"9ae8e250.6a719","type":"function","z":"ed946bf0.cccd18","name":"","func":"query = \"SELECT EXISTS (SELECT 1 FROM khachhang kh WHERE kh.id_box =\" + msg.payload.id_box +\") as thongbao\";\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":566.8983688354492,"y":1939.6511459350586,"wires":[["efcda46c.c628a8"]]},{"id":"efcda46c.c628a8","type":"mysql","z":"ed946bf0.cccd18","mydb":"12b1c41f.94972c","name":"","x":747.0194778442383,"y":2043.6707210540771,"wires":[["ff18bf28.b3f2","3d42415f.56c31e"]]},{"id":"ff18bf28.b3f2","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":936.8944778442383,"y":2146.3620052337646,"wires":[]},{"id":"f9f93fa.3e21bc","type":"delay","z":"ed946bf0.cccd18","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":458.8905563354492,"y":1866.6120820045471,"wires":[["300da1d8.27a0ee"]]},{"id":"3d42415f.56c31e","type":"function","z":"ed946bf0.cccd18","name":"","func":"var str = msg.payload[0]['thongbao'];\nif (str === 0)\n    msg.payload = \"Đã lưu thành công\";\nelse\n    msg.payload = \"Thông tin lưu trữ lỗi, vui lòng kiểm tra Mã thùng bị trùng lặp\";\nreturn msg;","outputs":1,"noerr":0,"x":925.8983840942383,"y":2041.6549739837646,"wires":[["bd03e19.c9d932"]]},{"id":"dcae259b.824608","type":"inject","z":"ed946bf0.cccd18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2182.833381652832,"y":418.000036239624,"wires":[["3c513e9d.d206e2"]]},{"id":"85173421.1eb608","type":"delay","z":"ed946bf0.cccd18","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1328.3888626098633,"y":2006.888921737671,"wires":[["de9661ac.a6a55"]]},{"id":"6403f574.f577cc","type":"debug","z":"ed946bf0.cccd18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1453.1040992736816,"y":1389.374976158142,"wires":[]},{"id":"552002f3.8fdafc","type":"inject","z":"ed946bf0.cccd18","name":"","topic":"","payload":"tare","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":236.16663360595703,"y":1366.3333492279053,"wires":[["8a21b1ae.7ace6"]]},{"id":"ac7d2786.cb6538","type":"inject","z":"ed946bf0.cccd18","name":"","topic":"","payload":"calib","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1260,"wires":[["2a5ebd31.384ab2"]]},{"id":"ddefc735.137ea8","type":"mqtt out","z":"ed946bf0.cccd18","name":"","topic":"ServerToEsp","qos":"","retain":"","broker":"75de0ad0.472554","x":1561.9999465942383,"y":1539.6666927337646,"wires":[]},{"id":"d63d8b3c.57da68","type":"function","z":"ed946bf0.cccd18","name":"","func":"msg.payload ={\n    id_box : 1234 \n}\nreturn msg;","outputs":1,"noerr":0,"x":1366.9999465942383,"y":1543.6666927337646,"wires":[["ddefc735.137ea8"]]},{"id":"3757768b.15be3a","type":"mqtt out","z":"ed946bf0.cccd18","name":"","topic":"ServerToEsp","qos":"","retain":"","broker":"75de0ad0.472554","x":1131.9999465942383,"y":1545.6666927337646,"wires":[]},{"id":"fdee36f8.071528","type":"function","z":"ed946bf0.cccd18","name":"","func":"msg.payload ={\n    id_box : 1235\n}\nreturn msg;","outputs":1,"noerr":0,"x":1134.9999465942383,"y":1490.6666927337646,"wires":[["3757768b.15be3a"]]},{"id":"66d228db.62ba08","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fa0f184a.9ef648","type":"ui_group","z":"","name":"Cài đặt","tab":"5d7b19ed.5bd038","order":5,"disp":true,"width":"6","collapse":false},{"id":"cac66e71.9e6a2","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"75de0ad0.472554","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7856ca96.0e6f94","type":"ui_group","z":"","name":"Thông tin mua gạo","tab":"3b9e4a2a.90cd96","order":1,"disp":true,"width":"10","collapse":false},{"id":"323ad79d.4cac88","type":"ui_group","z":"","name":"Test data mqtt","tab":"3b9e4a2a.90cd96","order":3,"disp":true,"width":"6","collapse":false},{"id":"8fa52173.e87e8","type":"ui_group","z":"","name":"Thông tin vừa đăng kí","tab":"3b9e4a2a.90cd96","order":2,"disp":true,"width":"10","collapse":false},{"id":"3fdce7f7.7546a8","type":"ui_group","z":"","name":"Thông tin người dùng","tab":"5d7b19ed.5bd038","order":4,"disp":true,"width":"8","collapse":false},{"id":"1072fa48.9fe3f6","type":"ui_group","z":"","name":"Tra cứu thông tin","tab":"5d7b19ed.5bd038","order":3,"disp":true,"width":"8","collapse":false},{"id":"1ac7af73.7ad1e1","type":"ui_group","z":"","name":"Thùng gạo IoT","tab":"5d7b19ed.5bd038","order":1,"disp":true,"width":"8","collapse":false},{"id":"5d917d36.5f4ac4","type":"ui_group","z":"","name":"Biểu đồ sử dụng","tab":"5d7b19ed.5bd038","order":2,"disp":true,"width":"16","collapse":false},{"id":"5d7b19ed.5bd038","type":"ui_tab","z":"","name":"Thùng gạo IoT","icon":"dashboard","order":1},{"id":"3b9e4a2a.90cd96","type":"ui_tab","z":"","name":"Thông tin mua gạo","icon":"work","order":2}]