CAMERA_DEVICE/code_server_node_red/code_thung_gao_laytudevice
[{"id":"c8d737aa.2b8e38","type":"mqtt in","z":"cb371006.6b419","name":"","topic":"rBox/log","qos":"0","broker":"10f32228.8745fe","x":180,"y":260,"wires":[["30c7244.735c8dc"]]},{"id":"30c7244.735c8dc","type":"json","z":"cb371006.6b419","name":"","property":"payload","action":"","pretty":false,"x":477,"y":261.00001525878906,"wires":[["dba43a12.0e83e8"]]},{"id":"6df5252.bcd53dc","type":"function","z":"cb371006.6b419","name":"","func":"\nmsg.topic = \"rBox/\" + msg.payload.id_box\nmsg.payload = \"ok\"\nreturn msg;","outputs":1,"noerr":0,"x":538.9999923706055,"y":560.0000247955322,"wires":[["ec07664c.6aa1c8"]]},{"id":"ec07664c.6aa1c8","type":"mqtt out","z":"cb371006.6b419","name":"","topic":"","qos":"","retain":"","broker":"10f32228.8745fe","x":703.0000305175781,"y":560.0000152587891,"wires":[]},{"id":"dba43a12.0e83e8","type":"function","z":"cb371006.6b419","name":"xem log gần nhất có gửi chưa","func":"var out =   \"SELECT tb.unit as solan, tb.timer, tb.trangthai, kh.id_box, kh.khoiluong, kh.hoten, kh.diachi, kh.sdt, kh.loaigao FROM khachhang kh INNER JOIN thietbi tb ON kh.id_box = tb.id_box WHERE kh.id_box =\" + msg.payload.id_box + \" ORDER BY tb.unit DESC LIMIT 1\";  \nmsg.topic = out;\nreturn msg;\n","outputs":1,"noerr":0,"x":282.9869689941406,"y":313.9895782470703,"wires":[["d4533bf.6e84dc8"]]},{"id":"d1ed540.84afab","type":"function","z":"cb371006.6b419","name":"kiểm tra có lớn hơn 2 ngày","func":"var timer = new Date(msg.payload[0]['timer']).getDate();\nvar now = new Date();\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar first_time = false\nif (dd - timer < 3){\n first_time = true\n}\nmsg.payload = {\n    solan: msg.payload[0]['solan'],\n    id_box: msg.payload[0]['id_box'],\n    khoiluong: msg.payload[0]['khoiluong'],\n    hoten: msg.payload[0]['hoten'],\n    diachi: msg.payload[0]['diachi'],\n    sdt: msg.payload[0]['sdt'],\n    loaigao: msg.payload[0]['loaigao'],\n    timer: timer,\n    trangthai: msg.payload[0]['trangthai'],\n    first_time: first_time \n}\nreturn msg;","outputs":1,"noerr":0,"x":298.37586975097656,"y":379.3229217529297,"wires":[["56679f4.2c90f6"]]},{"id":"d4533bf.6e84dc8","type":"mysql","z":"cb371006.6b419","mydb":"f9a5064a.577cd8","name":"","x":507.9869689941406,"y":312.98951721191406,"wires":[["d1ed540.84afab"]]},{"id":"c2cf5780.0d3528","type":"switch","z":"cb371006.6b419","name":"loại mail sẽ gửi","property":"payload.first_time","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":923.5980186462402,"y":302.3229064941406,"wires":[["768fab7f.12a644"],["72b66f76.7aaa3"]]},{"id":"768fab7f.12a644","type":"function","z":"cb371006.6b419","name":"nội dung mail lần 1","func":"msg.to =\"thunggaoiot@gmail.com;nguyenduytam3397@gmail.com\"\nvar out = \"\";\nif (isNaN(msg.payload)) {\n    out = \"Hộ gia đình anh/chị: \" + msg.payload.hoten + \".<br>Có mã thùng: \" + msg.payload.id_box +  \".<br>Đang sử dụng: \" + msg.payload.loaigao + \", sắp hết gạo.<br>Vui lòng liên hệ đến số điện thoại \" + msg.payload.sdt + \" để cung ứng gạo.<br>Địa chỉ khách hàng: \" + msg.payload.diachi + \". <br>Xin cảm ơn sự phục vụ tận tình của cửa hàng!<br>Công ty TNHH Thùng Gạo Nhân Dân\";\n    msg.topic = \"Thông báo cung cấp gạo\";\n    msg.payload = out;\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":1107.9870910644531,"y":278.9895782470703,"wires":[["bbfbdb81.120dd8"]]},{"id":"72b66f76.7aaa3","type":"function","z":"cb371006.6b419","name":"nội dung mail lần 2","func":"msg.to =\"thunggaoiot@gmail.com;nguyenduytam3397@gmail.com\"\nvar out = \"\";\nif (isNaN(msg.payload)) {\n    out = \"[Khách hàng chưa nhận được gạo]\" + \"<br>Hộ gia đình anh/chị: \" + msg.payload.hoten + \".<br>Có mã thùng: \" + msg.payload.id_box +  \".<br>Đang sử dụng: \" + msg.payload.loaigao + \", sắp hết gạo.<br>Vui lòng liên hệ đến số điện thoại \" + msg.payload.sdt + \" để cung ứng gạo.<br>Địa chỉ khách hàng: \" + msg.payload.diachi + \". <br>Xin cảm ơn sự phục vụ tận tình của cửa hàng!<br>Công ty TNHH Thùng Gạo Nhân Dân\";\n    msg.topic = \"Thông báo cung cấp gạo\";\n    msg.payload = out;\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":1114.9870910644531,"y":326.9895782470703,"wires":[["bbfbdb81.120dd8"]]},{"id":"bbfbdb81.120dd8","type":"e-mail","z":"cb371006.6b419","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":1357.2093811035156,"y":294.9895782470703,"wires":[]},{"id":"4181c214.99ba9c","type":"mqtt out","z":"cb371006.6b419","name":"","topic":"rBox/log","qos":"","retain":"","broker":"10f32228.8745fe","x":687.0911254882812,"y":101.609375,"wires":[]},{"id":"bf26d66c.050ed8","type":"inject","z":"cb371006.6b419","name":"","topic":"","payload":"{\"id_box\": 2, \"pin\": 3400}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":531.0885009765625,"y":100.97134399414062,"wires":[["4181c214.99ba9c"]]},{"id":"56679f4.2c90f6","type":"switch","z":"cb371006.6b419","name":"kiểm tra số kí","property":"payload.khoiluong","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"num"},{"t":"gt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":515.0913391113281,"y":377.54689025878906,"wires":[["e3f3816d.3ce3b","aa3cbf78.09514"],["6ceee1b4.99721"]]},{"id":"6ceee1b4.99721","type":"switch","z":"cb371006.6b419","name":"kiểm tra trạng thái","property":"payload.trangthai","propertyType":"msg","rules":[{"t":"eq","v":"còn gạo","vt":"str"},{"t":"eq","v":"sắp hết","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":724.0935974121094,"y":452.5469207763672,"wires":[["e3f3816d.3ce3b"],["aa3cbf78.09514"]]},{"id":"e3f3816d.3ce3b","type":"function","z":"cb371006.6b419","name":"insert new trang thai","func":"\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd + \" \" + hh + \":\" + mmm + \":\" + ss;\ntrangthai = \"sắp hết\"\nquery = \"INSERT INTO `thietbi` (`id_box`, `timer`, `pin`, `trangthai`) VALUES (?,?,?,?)\";\nmsg.payload = [msg.payload.id_box, now, msg.payload.pin, trangthai];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1006.3332824707031,"y":443.99998474121094,"wires":[["d676acc4.06cbd"]]},{"id":"d676acc4.06cbd","type":"mysql","z":"cb371006.6b419","mydb":"f9a5064a.577cd8","name":"","x":1207.3332214355469,"y":444.99998474121094,"wires":[[]]},{"id":"aa3cbf78.09514","type":"switch","z":"cb371006.6b419","name":"","property":"payload.pin","propertyType":"msg","rules":[{"t":"lte","v":"2.4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":756.2525939941406,"y":289.7161102294922,"wires":[["e252a625.da4ed8"],["c2cf5780.0d3528"]]},{"id":"e252a625.da4ed8","type":"function","z":"cb371006.6b419","name":"mail thông báo hết pin","func":"msg.to =\"thunggaoiot@gmail.com;nguyenduytam3397@gmail.com\"\nvar out = \"\";\nif (isNaN(msg.payload)) {\n    out = \"[Khách hàng đã hết pin]\" + \"<br>Hộ gia đình anh/chị: \" + msg.payload.hoten + \".<br>Có mã thùng: \" + msg.payload.id_box +  \".<br>Đang sử dụng: \" + msg.payload.loaigao + \", sắp hết gạo.<br>Vui lòng liên hệ đến số điện thoại \" + msg.payload.sdt + \" để cung ứng gạo.<br>Địa chỉ khách hàng: \" + msg.payload.diachi + \". <br>Vui lòng mang theo 2 viên pin tiểu AA để thay cho khách.<br>Xin cảm ơn sự phục vụ tận tình của cửa hàng!<br>Công ty TNHH Thùng Gạo Nhân Dân\";\n    msg.topic = \"Thông báo cung cấp gạo\";\n    msg.payload = out;\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":1094.1666564941406,"y":230,"wires":[["bbfbdb81.120dd8"]]},{"id":"10f32228.8745fe","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]