CAMERA_DEVICE/code_server/code_server_node_red/code_server_camera
[{"id":"939405ec.412c68","type":"http in","z":"7dfe81ea.bbe11","name":"","url":"/hello-file","method":"get","upload":false,"swaggerDoc":"","x":170,"y":620,"wires":[["a8e04264.fe87b"]]},{"id":"a8e04264.fe87b","type":"file in","z":"7dfe81ea.bbe11","name":"","filename":"/home/NDT/dataset/class-2018-09-12-19:26:44.jpg","format":"","sendError":true,"x":610,"y":620,"wires":[["8d3182f7.55328","924c4e57.a4b92","b338df65.34a29"]]},{"id":"8d3182f7.55328","type":"change","z":"7dfe81ea.bbe11","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":560,"wires":[["33bf2ba5.15d134"]]},{"id":"33bf2ba5.15d134","type":"http response","z":"7dfe81ea.bbe11","name":"","x":1030,"y":560,"wires":[]},{"id":"5d914a6.616edb4","type":"file","z":"7dfe81ea.bbe11","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":770,"y":1080,"wires":[[]]},{"id":"924c4e57.a4b92","type":"debug","z":"7dfe81ea.bbe11","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":760,"wires":[]},{"id":"f4c95dad.814cc","type":"inject","z":"7dfe81ea.bbe11","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":560,"wires":[["2a1b06c9.43c38a"]]},{"id":"b338df65.34a29","type":"mqtt out","z":"7dfe81ea.bbe11","name":"","topic":"synch","qos":"","retain":"","broker":"ee0fdc9c.ae47d","x":1060,"y":680,"wires":[]},{"id":"5c1ca6d6.f61e88","type":"mqtt in","z":"7dfe81ea.bbe11","name":"","topic":"synch","qos":"2","broker":"ee0fdc9c.ae47d","x":130,"y":1120,"wires":[["52d94774.3b90b8"]]},{"id":"4c14aae4.1310f4","type":"mqtt in","z":"7dfe81ea.bbe11","name":"","topic":"1234","qos":"2","broker":"ee0fdc9c.ae47d","x":130,"y":480,"wires":[["2a1b06c9.43c38a"]]},{"id":"2a1b06c9.43c38a","type":"function","z":"7dfe81ea.bbe11","name":"","func":"msg.filename = \"/home/NDT/dataset/class-2018-09-12-19:26:44.jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":560,"wires":[["a8e04264.fe87b"]]},{"id":"36b177b8.6ca968","type":"function","z":"7dfe81ea.bbe11","name":"decode","func":"var image_local = \"/home/pi/NDT/code/\"\nvar extend = \".jpg\"\nvar name = msg.payload.image_name\nvar base64Data = msg.payload.image_array\nmsg.payload = new Buffer(base64Data, 'base64')\nmsg.filename = image_local + name + extend\nreturn msg;\n\n","outputs":1,"noerr":0,"x":500,"y":1120,"wires":[["5d914a6.616edb4","36d2d4a0.4fdb7c"]]},{"id":"36d2d4a0.4fdb7c","type":"debug","z":"7dfe81ea.bbe11","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","x":770,"y":1160,"wires":[]},{"id":"52d94774.3b90b8","type":"json","z":"7dfe81ea.bbe11","name":"","property":"payload","action":"","pretty":false,"x":310,"y":1120,"wires":[["36b177b8.6ca968"]]},{"id":"680425ac.fa705c","type":"inject","z":"7dfe81ea.bbe11","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":860,"wires":[["1b973120.83146f"]]},{"id":"1b973120.83146f","type":"mqtt out","z":"7dfe81ea.bbe11","name":"","topic":"synch","qos":"0","retain":"","broker":"d9911498.6ffbe8","x":390,"y":860,"wires":[]},{"id":"8f76c153.9718b","type":"inject","z":"7dfe81ea.bbe11","name":"Start","topic":"","payload":"sudo bash /home/pi/NDT/synch/code/shoot.sh","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":320,"wires":[["1606833f.a1a2bd"]]},{"id":"ead008f3.c78858","type":"exec","z":"7dfe81ea.bbe11","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":420,"wires":[["764c0191.f13bf"],["764c0191.f13bf"],[]]},{"id":"18f4ed8.96f2013","type":"debug","z":"7dfe81ea.bbe11","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":360,"wires":[]},{"id":"764c0191.f13bf","type":"debug","z":"7dfe81ea.bbe11","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":520,"wires":[]},{"id":"1606833f.a1a2bd","type":"exec","z":"7dfe81ea.bbe11","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":300,"wires":[["937288d5.d7d0d8"],["18f4ed8.96f2013"],["18f4ed8.96f2013"]]},{"id":"24e7fcd5.5680e4","type":"ui_button","z":"7dfe81ea.bbe11","name":"","group":"788dd2f5.64384c","order":1,"width":0,"height":0,"passthru":false,"label":"RESET","color":"","bgcolor":"","icon":"","payload":"sudo init 6","payloadType":"str","topic":"","x":310,"y":280,"wires":[["1606833f.a1a2bd"]]},{"id":"491d3c2c.0dc6f4","type":"ui_button","z":"7dfe81ea.bbe11","name":"","group":"788dd2f5.64384c","order":2,"width":0,"height":0,"passthru":false,"label":"SHUTDOWN","color":"","bgcolor":"","icon":"","payload":"sudo init 0","payloadType":"str","topic":"","x":310,"y":240,"wires":[["1606833f.a1a2bd"]]},{"id":"35d0deb1.9ae682","type":"ui_button","z":"7dfe81ea.bbe11","name":"","group":"3ef74596.cf707a","order":1,"width":0,"height":0,"passthru":false,"label":"START CAMERA","color":"","bgcolor":"","icon":"","payload":"sudo bash /home/pi/NDT/synch/code/shoot.sh","payloadType":"str","topic":"","x":330,"y":200,"wires":[[]]},{"id":"2a826cad.24ee44","type":"ui_button","z":"7dfe81ea.bbe11","name":"","group":"788dd2f5.64384c","order":3,"width":0,"height":0,"passthru":false,"label":"STOP","color":"","bgcolor":"","icon":"","payload":"sudo killall mjpg_streamer","payloadType":"str","topic":"","x":310,"y":380,"wires":[[]]},{"id":"a96e2417.29ed08","type":"ui_button","z":"7dfe81ea.bbe11","name":"","group":"3ef74596.cf707a","order":2,"width":0,"height":0,"passthru":false,"label":"SHOOT","color":"","bgcolor":"","icon":"","payload":"sudo wget /home/pi/NDT/dataset http://127.0.0.1:8080/?action=snapshot ","payloadType":"str","topic":"","x":300,"y":160,"wires":[[]]},{"id":"937288d5.d7d0d8","type":"debug","z":"7dfe81ea.bbe11","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":260,"wires":[]},{"id":"ee0fdc9c.ae47d","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d9911498.6ffbe8","type":"mqtt-broker","z":"","name":"","broker":"http://115.79.27.129","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"788dd2f5.64384c","type":"ui_group","z":"","name":"Camera Device","tab":"f3b18efb.da11","disp":true,"width":"6","collapse":false},{"id":"3ef74596.cf707a","type":"ui_group","name":"Group 1","tab":"cbe2309c.c2b64","order":1,"disp":true,"width":6},{"id":"f3b18efb.da11","type":"ui_tab","z":"","name":"Camera Device","icon":"dashboard"},{"id":"cbe2309c.c2b64","type":"ui_tab","z":"","name":"CAMERA BIN","icon":"dashboard"}]