COMPANY/P2P/CodeServer/Code_server_node_lookup_tai_node_18_3_2019.txt
[{"id":"d86d9fe1.0e5c4","type":"tab","label":"p2p","disabled":false,"info":""},{"id":"f07c71ae.416e8","type":"tab","label":"reload_flows","disabled":false,"info":""},{"id":"21aa4ee1.0f0142","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd7647b3.5bf2a8","type":"MySQLdatabase","z":"d86d9fe1.0e5c4","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""},{"id":"61ada8f0.a46bc8","type":"mqtt-broker","z":"","name":"superDB","broker":"128.199.236.138","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9ce48933.adabf8","type":"inject","z":"f07c71ae.416e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["6dc33b94.8a27a4"]]},{"id":"6dc33b94.8a27a4","type":"function","z":"f07c71ae.416e8","name":"","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["c0e31a63.c8bd78"]]},{"id":"c0e31a63.c8bd78","type":"http request","z":"f07c71ae.416e8","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":470,"y":120,"wires":[["319e253a.4b06aa"]]},{"id":"319e253a.4b06aa","type":"debug","z":"f07c71ae.416e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":120,"wires":[]},{"id":"900cc814.f56718","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"p2p_elefos003","qos":"2","broker":"21aa4ee1.0f0142","x":120,"y":160,"wires":[["2d36260e.8fdd5a"]]},{"id":"2d36260e.8fdd5a","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":350,"y":160,"wires":[["9892d5e.0c95928","c1c33dce.d397b"]]},{"id":"65ce27b2.836048","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"gui o localhost","topic":"","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":860,"y":200,"wires":[]},{"id":"8567c99b.ba70b8","type":"function","z":"d86d9fe1.0e5c4","name":"convert from to","func":"msg.to = msg.payload.to\nlet from = msg.topic\nlet content = msg.payload.content\nmsg.payload = {\n    \"from\": from,\n    \"content\" : content\n}\nmsg.msg_backup = msg.payload\nmsg.topic = msg.to\nmsg.request = 0\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["65ce27b2.836048","4202006e.d86d9"]]},{"id":"1026592c.238cf7","type":"comment","z":"d86d9fe1.0e5c4","name":"nhanh gui tu device len","info":"","x":460,"y":240,"wires":[]},{"id":"cce2b9b8.6ce398","type":"comment","z":"d86d9fe1.0e5c4","name":"nhanh nay duoc gui tu server khac nen ko co to","info":"","x":660,"y":160,"wires":[]},{"id":"2b20d3f0.9d997c","type":"inject","z":"d86d9fe1.0e5c4","name":"","topic":"","payload":"p2p_elefos002","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["1640597d.85d897"]]},{"id":"832ed2ca.56681","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"p2p_elefos003","topic":"","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":500,"y":300,"wires":[]},{"id":"1640597d.85d897","type":"function","z":"d86d9fe1.0e5c4","name":"test device gui len","func":"msg.payload = {\n    \"to\" : msg.payload,\n    \"content\" : \"hello tao la 68\"\n    \n}\nmsg.topic = \"p2p_elefos003\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["832ed2ca.56681"]]},{"id":"1ee867f7.4e18b8","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload[0]['status']","propertyType":"msg","rules":[{"vt":"num","t":"eq","v":"1"},{"vt":"num","t":"eq","v":"0"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1050,"y":280,"wires":[["5e05338f.ccb85c"],["f37418cb.a97f98"],["aaca09c2.d73838"]]},{"id":"15ecfdf2.1e53e2","type":"comment","z":"d86d9fe1.0e5c4","name":"Neu khong co tra ve id_server","info":"","x":720,"y":320,"wires":[]},{"id":"4045467b.55c658","type":"comment","z":"d86d9fe1.0e5c4","name":"Neu co thi result 1, ko lam gi ca","info":"","x":1090,"y":200,"wires":[]},{"id":"af779f0f.f1244","type":"function","z":"d86d9fe1.0e5c4","name":"reload server","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":3810,"y":300,"wires":[["9baee4e9.9ce568"]]},{"id":"9baee4e9.9ce568","type":"http request","z":"d86d9fe1.0e5c4","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":3970,"y":300,"wires":[["4e013598.4922ac"]]},{"id":"7c862079.dce4b","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"p2p_elefos003","qos":"","retain":"","broker":"21aa4ee1.0f0142","x":1120,"y":360,"wires":[]},{"id":"9892d5e.0c95928","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload.to","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":200,"wires":[[],["8567c99b.ba70b8"]]},{"id":"4202006e.d86d9","type":"function","z":"d86d9fe1.0e5c4","name":"check list server connected","func":"\n//var out = \"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\" + msg.topic +\"') THEN 1 ELSE'\" +  msg.topic + \"' END AS result\";\nvar out = \"Select status FROM server_connected WHERE id_server = '\" + msg.to +\"'\";\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["f39ecccd.ec7cc"]]},{"id":"aaca09c2.d73838","type":"function","z":"d86d9fe1.0e5c4","name":"lookup ip trong server_dht","func":"var out = \"Select id_server, ip_server FROM server_dht WHERE id_server = '\" + msg.to +\"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":240,"wires":[["68e280c8.635c"]]},{"id":"b2fab2b4.b2a3f","type":"debug","z":"d86d9fe1.0e5c4","name":"truong hop khong tim thay id trong db","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1990,"y":180,"wires":[]},{"id":"eb583fe6.e5b9","type":"comment","z":"d86d9fe1.0e5c4","name":"nghe tu server khac id minh, gui xuong device","info":"","x":1410,"y":360,"wires":[]},{"id":"a44c0ffc.39107","type":"comment","z":"d86d9fe1.0e5c4","name":"nghe tu device hoac tu local gui xuong device","info":"","x":190,"y":100,"wires":[]},{"id":"de2fdf22.99615","type":"function","z":"d86d9fe1.0e5c4","name":"insert json mqtt_broker","func":"\na =  {\n\t\t\"id\": msg.result[0]['id_server'],\n\t\t\"type\": \"mqtt-broker\",\n\t\t\"z\": \"\",\n\t\t\"name\": \"\",\n\t\t\"broker\": msg.result[0]['ip_server'],\n\t\t\"port\": \"1883\",\n\t\t\"clientid\": \"\",\n\t\t\"usetls\": false,\n\t\t\"compatmode\": true,\n\t\t\"keepalive\": \"60\",\n\t\t\"cleansession\": true,\n\t\t\"birthTopic\": \"\",\n\t\t\"birthQos\": \"0\",\n\t\t\"birthPayload\": \"\",\n\t\t\"closeTopic\": \"\",\n\t\t\"closeQos\": \"0\",\n\t\t\"closePayload\": \"\",\n\t\t\"willTopic\": \"\",\n\t\t\"willQos\": \"0\",\n\t\t\"willPayload\": \"\"\n\t}\n\tb = {\n\t\t\"id\": msg.id_mqtt_in,\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"d86d9fe1.0e5c4\",\n\t\t\"name\": msg._topic, //cai nay chinh la mqtt local\n\t\t\"topic\": msg._topic,\n\t\t\"qos\": \"2\",\n\t\t\"broker\": msg.result[0]['id_server'],\n\t\t\"x\": msg.payload.pos_x,\n\t\t\"y\": msg.payload.pos_y,\n\t\t\"wires\": [[\"7c862079.dce4b\"]]\n\t}\nmsg.payload = \",\" + JSON.stringify(a) + \",\" + JSON.stringify(b)\nreturn msg;","outputs":1,"noerr":0,"x":2400,"y":280,"wires":[["dea7b24c.96f7e","f213c710.ee41c8"]]},{"id":"f213c710.ee41c8","type":"file","z":"d86d9fe1.0e5c4","name":"","filename":"/root/.node-red/run/mqtt_broker.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":2680,"y":280,"wires":[["2be26853.79d218"]]},{"id":"7e15d0a4.d5a79","type":"comment","z":"d86d9fe1.0e5c4","name":"test gia lap device","info":"","x":130,"y":260,"wires":[]},{"id":"6c3d75c1.0a0b5c","type":"function","z":"d86d9fe1.0e5c4","name":"insert DB list server_connected","func":"\nquery = \"INSERT INTO `server_connected` (`id_server`, `status`) VALUES (?,?)\";\nmsg.payload = [msg.to,0];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2430,"y":340,"wires":[["7a15e2d1.00878c"]]},{"id":"70fcc23.4790a3c","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":260,"wires":[["3795eabf.bef5b6"],["563b8a32.efbc54"]]},{"id":"107b2634.238bca","type":"comment","z":"d86d9fe1.0e5c4","name":"insert khi co id trong db","info":"","x":2700,"y":400,"wires":[]},{"id":"563b8a32.efbc54","type":"function","z":"d86d9fe1.0e5c4","name":"max(unit), x, y for mqtt_in","func":"msg.result = msg.payload\nvar out = \"Select MAX(unit) as unit, MAX(x) as x, MAX(y) as y FROM mqtt_in ORDER BY unit DESC\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":280,"wires":[["aea68bd2.1d6338"]]},{"id":"dea7b24c.96f7e","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2630,"y":320,"wires":[]},{"id":"44541669.65db68","type":"function","z":"d86d9fe1.0e5c4","name":"json for value mqtt_in","func":"msg.payload = {\n    \"number\" : msg.payload[0]['unit'] + 1,\n    \"pos_x\" : msg.payload[0]['x'],\n    \"pos_y\" : msg.payload[0]['y'] +40\n}\nmsg.id_mqtt_in = \"id_mqtt_in\" + msg.payload.number.toString()\nreturn msg;","outputs":1,"noerr":0,"x":2160,"y":280,"wires":[["de2fdf22.99615","51ecbf1a.aaaf8","6c3d75c1.0a0b5c","d9cce086.a446b"]]},{"id":"d9cce086.a446b","type":"function","z":"d86d9fe1.0e5c4","name":"insert to mqtt_in","func":"\nquery = \"INSERT INTO `mqtt_in` (`id_mqtt_in`, `x`, `y`) VALUES (?,?,?)\";\nmsg.payload = [msg.id_mqtt_in, msg.payload.pos_x, msg.payload.pos_y];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2380,"y":240,"wires":[["4de7f33.88afc0c"]]},{"id":"c96ebdaa.57833","type":"function","z":"d86d9fe1.0e5c4","name":"update status DB list server_connected","func":"query = \"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\" + msg.payload.id_server_from + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":60,"wires":[["6337ec20.242ad4"]]},{"id":"da7d90e0.6eab3","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1830,"y":60,"wires":[]},{"id":"8ae6ec67.ceb12","type":"comment","z":"d86d9fe1.0e5c4","name":"nhanh update status khi connect thanh cong","info":"","x":1310,"y":20,"wires":[]},{"id":"d7dc6b0e.b6a358","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"setup_response","qos":"2","broker":"21aa4ee1.0f0142","x":940,"y":60,"wires":[["d5212710.61fc78"]]},{"id":"d5212710.61fc78","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":60,"wires":[["c96ebdaa.57833"]]},{"id":"536f2b02.050f34","type":"exec","z":"d86d9fe1.0e5c4","command":"python /root/.node-red/run/merge.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":3470,"y":280,"wires":[["af779f0f.f1244"],[],[]]},{"id":"3795eabf.bef5b6","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = \"meo thay nhe\"\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":180,"wires":[["b2fab2b4.b2a3f"]]},{"id":"f39ecccd.ec7cc","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"server avaliable","x":880,"y":280,"wires":[["1ee867f7.4e18b8"]]},{"id":"68e280c8.635c","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"lookup ip","x":1440,"y":260,"wires":[["70fcc23.4790a3c"]]},{"id":"7a15e2d1.00878c","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"add server_connected","x":2700,"y":360,"wires":[[]]},{"id":"aea68bd2.1d6338","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"mqtt_in","x":1980,"y":280,"wires":[["44541669.65db68"]]},{"id":"4de7f33.88afc0c","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"insert mqtt_in","x":2580,"y":240,"wires":[[]]},{"id":"6337ec20.242ad4","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"add server_connected","x":1660,"y":60,"wires":[["da7d90e0.6eab3"]]},{"id":"51ecbf1a.aaaf8","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2310,"y":180,"wires":[]},{"id":"elefos_mqtt_request","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"setup_request","qos":"","retain":"","broker":"","x":4840,"y":280,"wires":[]},{"id":"4e013598.4922ac","type":"delay","z":"d86d9fe1.0e5c4","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4150,"y":300,"wires":[["4e17efc8.be447"]]},{"id":"2be26853.79d218","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = msg.to\nreturn msg;","outputs":1,"noerr":0,"x":2920,"y":280,"wires":[["402dc258.d72e6c"]]},{"id":"402dc258.d72e6c","type":"file","z":"d86d9fe1.0e5c4","name":"","filename":"/root/.node-red/run/id_broker.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":3130,"y":280,"wires":[["536f2b02.050f34"]]},{"id":"6f559592.e0a4cc","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"setup_request","qos":"2","broker":"21aa4ee1.0f0142","x":550,"y":360,"wires":[["1d5e3756.6d5779"]]},{"id":"d8cea3e2.3e542","type":"function","z":"d86d9fe1.0e5c4","name":"edit and backup first msg","func":"msg.to = msg.payload.id_server_from\nmsg._topic = msg.payload.id_server_to\nmsg.request = 1\nmsg.payload = {\n    \"from\": msg.to,\n    \"content\" : msg.payload.content\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":360,"wires":[["7c862079.dce4b","4202006e.d86d9"]]},{"id":"1d5e3756.6d5779","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":690,"y":360,"wires":[["d8cea3e2.3e542"]]},{"id":"4e17efc8.be447","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"request","propertyType":"msg","rules":[{"vt":"str","t":"eq","v":"0"},{"vt":"num","t":"eq","v":"1"}],"checkall":"true","repair":false,"outputs":2,"x":4430,"y":300,"wires":[["d7354727.83a1c8"],["db85f0b0.5e308"]]},{"id":"db85f0b0.5e308","type":"function","z":"d86d9fe1.0e5c4","name":"update status DB list server_connected","func":"msg.payload = {\n    \"id_server_from\" : msg._topic,\n    \"id_server_to\" : msg.to\n}\nmsg.backup = msg.payload\nquery = \"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\" + msg.payload.id_server_to + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":4680,"y":320,"wires":[["ed47d54a.ec4a68"]]},{"id":"93aec8ea.0cf3a8","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":4730,"y":420,"wires":[]},{"id":"ed47d54a.ec4a68","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"add server_connected","x":4540,"y":380,"wires":[["93aec8ea.0cf3a8","a5e3d89d.3ec938"]]},{"id":"elefos_mqtt_response","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"setup_response","qos":"","retain":"","broker":"","x":4900,"y":380,"wires":[]},{"id":"a5e3d89d.3ec938","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = msg.backup\nreturn msg;","outputs":1,"noerr":0,"x":4730,"y":380,"wires":[["elefos_mqtt_response"]]},{"id":"d7354727.83a1c8","type":"function","z":"d86d9fe1.0e5c4","name":"packet have msg first","func":"msg.payload = {\n    \"id_server_from\" : msg._topic,\n    \"id_server_to\" : msg.to,\n    \"content\" : msg.msg_backup.content\n}\nmsg.backup = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":4620,"y":280,"wires":[["elefos_mqtt_request"]]},{"id":"f37418cb.a97f98","type":"function","z":"d86d9fe1.0e5c4","name":"","func":"msg.payload = msg.to\nreturn msg;","outputs":1,"noerr":0,"x":2930,"y":380,"wires":[["d57ee01e.b722c"]]},{"id":"d57ee01e.b722c","type":"file","z":"d86d9fe1.0e5c4","name":"","filename":"/root/.node-red/run/id_broker.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":3130,"y":380,"wires":[["9e4dfd7a.8788a"]]},{"id":"9e4dfd7a.8788a","type":"exec","z":"d86d9fe1.0e5c4","command":"python /root/.node-red/run/update.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":3470,"y":380,"wires":[["af779f0f.f1244"],[],[]]},{"id":"5e05338f.ccb85c","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"request","propertyType":"msg","rules":[{"vt":"str","t":"eq","v":"0"},{"vt":"num","t":"eq","v":"1"}],"checkall":"true","repair":false,"outputs":2,"x":2750,"y":440,"wires":[[],["f37418cb.a97f98"]]},{"id":"c1c33dce.d397b","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":120,"wires":[]},{"id":"1eb634bf.72ce1b","type":"mqtt in","z":"d86d9fe1.0e5c4","name":"","topic":"synch_output","qos":"2","broker":"61ada8f0.a46bc8","x":170,"y":540,"wires":[["e9a6c664.40a9b8"]]},{"id":"5c23b3ca.a8e9cc","type":"function","z":"d86d9fe1.0e5c4","name":"update status DB list server_connected","func":"\nquery = \"UPDATE `server_dht` SET `ip_server` = '\" + msg.payload.ip_server + \"' WHERE `id_server` = '\" + msg.payload.id_server + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":540,"wires":[["948078e6.351608"]]},{"id":"948078e6.351608","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"update DB","x":890,"y":540,"wires":[["4f33fb0f.d174a4"]]},{"id":"4f33fb0f.d174a4","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":540,"wires":[]},{"id":"e9a6c664.40a9b8","type":"json","z":"d86d9fe1.0e5c4","name":"","property":"payload","action":"","pretty":false,"x":370,"y":540,"wires":[["5c23b3ca.a8e9cc"]]},{"id":"fa198414.c79f98","type":"mysql","z":"d86d9fe1.0e5c4","mydb":"bd7647b3.5bf2a8","name":"update DB","x":790,"y":640,"wires":[["9aa2d2ef.49d6a"]]},{"id":"17c91cac.1ee523","type":"function","z":"d86d9fe1.0e5c4","name":"lookup ip trong server_dht","func":"msg.ip_server = msg.payload.replace(\"\\n\",\"\")\nmsg.id_server = \"p2p_elefos003\"\nvar out = \"Select ip_server FROM server_dht WHERE id_server = '\" + msg.id_server +\"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":640,"wires":[["fa198414.c79f98"]]},{"id":"9aa2d2ef.49d6a","type":"switch","z":"d86d9fe1.0e5c4","name":"","property":"payload[0]['ip_server']","propertyType":"msg","rules":[{"vt":"msg","t":"eq","v":"ip_server"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":640,"wires":[["e51f922.97db87","4ed3ec08.f1da34"],["4ed3ec08.f1da34"]]},{"id":"d0514cba.a5378","type":"exec","z":"d86d9fe1.0e5c4","command":"dig TXT +short o-o.myaddr.l.google.com @ns1.google.com | awk -F'\"' '{ print $2}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"get ip public","x":370,"y":640,"wires":[["17c91cac.1ee523"],[],[]]},{"id":"4ed3ec08.f1da34","type":"function","z":"d86d9fe1.0e5c4","name":"publish new ip","func":"msg.payload = {\n    \"id_server\" : msg.id_server,\n    \"ip_server\" : msg.ip_server\n}\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":640,"wires":[["384b13a8.fed09c"]]},{"id":"e51f922.97db87","type":"debug","z":"d86d9fe1.0e5c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":600,"wires":[]},{"id":"e2011145.24474","type":"inject","z":"d86d9fe1.0e5c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":640,"wires":[["d0514cba.a5378"]]},{"id":"384b13a8.fed09c","type":"mqtt out","z":"d86d9fe1.0e5c4","name":"","topic":"synch_input","qos":"","retain":"","broker":"61ada8f0.a46bc8","x":1290,"y":640,"wires":[]}]