COMPANY/P2P/CodeServer/CODE_RELOAD_SERVER.txt
[{"id":"7fdf4800.cfe898","type":"inject","z":"10e77a0c.c33176","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":80,"wires":[["ed1a2ea0.cfbb5"]]},{"id":"ed1a2ea0.cfbb5","type":"function","z":"10e77a0c.c33176","name":"","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["38301d56.b23532"]]},{"id":"38301d56.b23532","type":"http request","z":"10e77a0c.c33176","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":520,"y":80,"wires":[["4e671937.4c1998"]]},{"id":"4e671937.4c1998","type":"debug","z":"10e77a0c.c33176","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":80,"wires":[]}]