COMPANY/P2P/CodeServer/code_Server_p2p_1_3_2019.txt
[{"id":"2104bc51.0cea84","type":"mqtt in","z":"23905b3.f1f97a4","name":"p2p_elefos001","topic":"p2p_elefos002","qos":"2","broker":"100cb346.2168cd","x":140,"y":420,"wires":[["8ae03f38.1b172"]]},{"id":"3795a359.2b45ac","type":"mqtt in","z":"23905b3.f1f97a4","name":"","topic":"p2p_elefos002","qos":"2","broker":"c8477576.da3f78","x":140,"y":160,"wires":[["cc515950.822b98"]]},{"id":"cc515950.822b98","type":"json","z":"23905b3.f1f97a4","name":"","property":"payload","action":"","pretty":false,"x":370,"y":160,"wires":[["59644aec.8573c4","e0b45d38.c6391"]]},{"id":"464c897b.c9d0b8","type":"mqtt out","z":"23905b3.f1f97a4","name":"gui o localhost","topic":"","qos":"","retain":"","broker":"c8477576.da3f78","x":880,"y":200,"wires":[]},{"id":"6ac7b9c2.499228","type":"function","z":"23905b3.f1f97a4","name":"convert from to","func":"let to = msg.payload.to\nlet from = msg.topic\nlet content = msg.payload.content\nmsg.payload = {\n    \"from\": from,\n    \"content\" : content\n}\nmsg.topic = to\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":200,"wires":[["464c897b.c9d0b8","1677ed15.a21e03"]]},{"id":"59644aec.8573c4","type":"debug","z":"23905b3.f1f97a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":120,"wires":[]},{"id":"897664ee.af8368","type":"comment","z":"23905b3.f1f97a4","name":"nhanh gui tu device len","info":"","x":480,"y":240,"wires":[]},{"id":"feb95da7.0a652","type":"comment","z":"23905b3.f1f97a4","name":"nhanh nay duoc gui tu server khac nen ko co to","info":"","x":680,"y":160,"wires":[]},{"id":"ccd95bea.ee0748","type":"inject","z":"23905b3.f1f97a4","name":"","topic":"","payload":"p2p_elefos003","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["cc7e5b3c.015f38"]]},{"id":"9d41c6f3.9c73f8","type":"mqtt out","z":"23905b3.f1f97a4","name":"p2p_elefos002","topic":"","qos":"","retain":"","broker":"c8477576.da3f78","x":540,"y":300,"wires":[]},{"id":"cc7e5b3c.015f38","type":"function","z":"23905b3.f1f97a4","name":"test device gui len","func":"msg.payload = {\n    \"to\" : msg.payload,\n    \"content\" : \"hello tao la raspberry pi\"\n    \n}\nmsg.topic = \"p2p_elefos002\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["9d41c6f3.9c73f8"]]},{"id":"fd7dd811.0c0e78","type":"mysql","z":"23905b3.f1f97a4","mydb":"d15a9d1.517596","name":"server avaliable","x":900,"y":280,"wires":[["57d9e358.fb4ebc"]]},{"id":"57d9e358.fb4ebc","type":"switch","z":"23905b3.f1f97a4","name":"","property":"payload[0]['status']","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1070,"y":280,"wires":[[],["6cc59cdf.0de094"],["aa38f98b.e2da98"]]},{"id":"2f971ca4.113e54","type":"comment","z":"23905b3.f1f97a4","name":"Neu khong co tra ve id_server","info":"","x":1000,"y":320,"wires":[]},{"id":"df8e95db.1411d8","type":"mysql","z":"23905b3.f1f97a4","mydb":"d15a9d1.517596","name":"lookup ip","x":1460,"y":300,"wires":[["4fad7d20.04b114"]]},{"id":"d7ae8f7b.e4c5d","type":"comment","z":"23905b3.f1f97a4","name":"Neu co thi result 1, ko lam gi ca","info":"","x":1110,"y":200,"wires":[]},{"id":"fa6dbc81.18b86","type":"function","z":"23905b3.f1f97a4","name":"reload server","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Node-RED-Deployment-Type\": \"reload\"\n     }\nmsg.payload = {};\n     return msg;","outputs":1,"noerr":0,"x":3350,"y":180,"wires":[["14c076fa.0a5cf9"]]},{"id":"14c076fa.0a5cf9","type":"http request","z":"23905b3.f1f97a4","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/flows","tls":"","x":3510,"y":180,"wires":[["bd7224a8.01c0e8"]]},{"id":"bd7224a8.01c0e8","type":"debug","z":"23905b3.f1f97a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3670,"y":180,"wires":[]},{"id":"8ae03f38.1b172","type":"mqtt out","z":"23905b3.f1f97a4","name":"","topic":"p2p_elefos002","qos":"","retain":"","broker":"c8477576.da3f78","x":340,"y":420,"wires":[]},{"id":"e0b45d38.c6391","type":"switch","z":"23905b3.f1f97a4","name":"","property":"payload.to","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":200,"wires":[[],["6ac7b9c2.499228"]]},{"id":"1677ed15.a21e03","type":"function","z":"23905b3.f1f97a4","name":"check list server connected","func":"msg.to = msg.topic\n//var out = \"Select CASE WHEN EXISTS (Select * FROM server_connected WHERE id_server = '\" + msg.topic +\"') THEN 1 ELSE'\" +  msg.topic + \"' END AS result\";\nvar out = \"Select status FROM server_connected WHERE id_server = '\" + msg.topic +\"'\";\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":240,"wires":[["fd7dd811.0c0e78"]]},{"id":"aa38f98b.e2da98","type":"function","z":"23905b3.f1f97a4","name":"lookup ip trong server_dht","func":"var out = \"Select id_server, ip_server FROM server_dht WHERE id_server = '\" + msg.to +\"'\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":300,"wires":[["df8e95db.1411d8"]]},{"id":"75fb46c7.96f508","type":"debug","z":"23905b3.f1f97a4","name":"truong hop khong tim thay id trong db","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1990,"y":300,"wires":[]},{"id":"b8a0a968.80a758","type":"comment","z":"23905b3.f1f97a4","name":"nghe tu server khac id minh, gui xuong device","info":"","x":250,"y":380,"wires":[]},{"id":"f2aed3af.f2579","type":"comment","z":"23905b3.f1f97a4","name":"nghe tu device hoac tu local gui xuong device","info":"","x":210,"y":100,"wires":[]},{"id":"31fc5160.c22dfe","type":"function","z":"23905b3.f1f97a4","name":"insert json mqtt_broker","func":"\na =  {\n\t\t\"id\": msg.result[0]['id_server'],\n\t\t\"type\": \"mqtt-broker\",\n\t\t\"z\": \"\",\n\t\t\"name\": \"\",\n\t\t\"broker\": msg.result[0]['ip_server'],\n\t\t\"port\": \"1883\",\n\t\t\"clientid\": \"\",\n\t\t\"usetls\": false,\n\t\t\"compatmode\": true,\n\t\t\"keepalive\": \"60\",\n\t\t\"cleansession\": true,\n\t\t\"birthTopic\": \"\",\n\t\t\"birthQos\": \"0\",\n\t\t\"birthPayload\": \"\",\n\t\t\"closeTopic\": \"\",\n\t\t\"closeQos\": \"0\",\n\t\t\"closePayload\": \"\",\n\t\t\"willTopic\": \"\",\n\t\t\"willQos\": \"0\",\n\t\t\"willPayload\": \"\"\n\t}\n\tb = {\n\t\t\"id\": msg.id_mqtt_in,\n\t\t\"type\": \"mqtt in\",\n\t\t\"z\": \"23905b3.f1f97a4\",\n\t\t\"name\": msg._topic, //cai nay chinh la mqtt local\n\t\t\"topic\": msg._topic,\n\t\t\"qos\": \"2\",\n\t\t\"broker\": msg.result[0]['id_server'],\n\t\t\"x\": msg.payload.pos_x,\n\t\t\"y\": msg.payload.pos_y,\n\t\t\"wires\": [[\"8ae03f38.1b172\"]]\n\t}\nmsg.payload = \",\" + JSON.stringify(a) + \",\" + JSON.stringify(b)\nreturn msg;","outputs":1,"noerr":0,"x":2440,"y":180,"wires":[["b28392fc.52b56","bb319669.db2ac8"]]},{"id":"bb319669.db2ac8","type":"file","z":"23905b3.f1f97a4","name":"","filename":"/home/pi/.node-red/run/mqtt_broker.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":2740,"y":180,"wires":[["37f9f983.2a4e76"]]},{"id":"19a6f371.70d91d","type":"comment","z":"23905b3.f1f97a4","name":"test gia lap device","info":"","x":150,"y":260,"wires":[]},{"id":"21499404.ed4dcc","type":"function","z":"23905b3.f1f97a4","name":"insert DB list server_connected","func":"\nquery = \"INSERT INTO `server_connected` (`id_server`, `status`) VALUES (?,?)\";\nmsg.payload = [msg.to,0];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2470,"y":240,"wires":[["291b63ce.39c66c"]]},{"id":"291b63ce.39c66c","type":"mysql","z":"23905b3.f1f97a4","mydb":"d15a9d1.517596","name":"add server_connected","x":2740,"y":260,"wires":[[]]},{"id":"4fad7d20.04b114","type":"switch","z":"23905b3.f1f97a4","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":1610,"y":260,"wires":[["5a886151.6baec"],["4f352faf.fac05"]]},{"id":"d556589.28bfaa8","type":"comment","z":"23905b3.f1f97a4","name":"insert khi co id trong db","info":"","x":2500,"y":280,"wires":[]},{"id":"5a886151.6baec","type":"function","z":"23905b3.f1f97a4","name":"max(unit), x, y for mqtt_in","func":"msg.result = msg.payload\nvar out = \"Select MAX(unit) as unit, MAX(x) as x, MAX(y) as y FROM mqtt_in ORDER BY unit DESC\";  \nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":180,"wires":[["5cbb1422.01ab0c"]]},{"id":"5cbb1422.01ab0c","type":"mysql","z":"23905b3.f1f97a4","mydb":"d15a9d1.517596","name":"mqtt_in","x":2020,"y":180,"wires":[["1f243493.74c92b"]]},{"id":"b28392fc.52b56","type":"debug","z":"23905b3.f1f97a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2670,"y":220,"wires":[]},{"id":"1f243493.74c92b","type":"function","z":"23905b3.f1f97a4","name":"json for value mqtt_in","func":"msg.payload = {\n    \"number\" : msg.payload[0]['unit'] + 1,\n    \"pos_x\" : msg.payload[0]['x'],\n    \"pos_y\" : msg.payload[0]['y'] +40\n}\nmsg.id_mqtt_in = \"id_mqtt_in\" + msg.payload.number.toString()\nreturn msg;","outputs":1,"noerr":0,"x":2200,"y":180,"wires":[["31fc5160.c22dfe","bd94d3af.4fdcf","c47d6844.f829a8","21499404.ed4dcc"]]},{"id":"bd94d3af.4fdcf","type":"function","z":"23905b3.f1f97a4","name":"insert to mqtt_in","func":"\nquery = \"INSERT INTO `mqtt_in` (`id_mqtt_in`, `x`, `y`) VALUES (?,?,?)\";\nmsg.payload = [msg.id_mqtt_in, msg.payload.pos_x, msg.payload.pos_y];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2420,"y":140,"wires":[["3b23bda.0b32842"]]},{"id":"3b23bda.0b32842","type":"mysql","z":"23905b3.f1f97a4","mydb":"d15a9d1.517596","name":"insert mqtt_in","x":2620,"y":140,"wires":[[]]},{"id":"c47d6844.f829a8","type":"debug","z":"23905b3.f1f97a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2410,"y":100,"wires":[]},{"id":"6cc59cdf.0de094","type":"function","z":"23905b3.f1f97a4","name":"resent setup packet","func":"msg.payload =\"tao da gui lai goi tin\"\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":260,"wires":[["90bce70.b5d8018"]]},{"id":"90bce70.b5d8018","type":"debug","z":"23905b3.f1f97a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":220,"wires":[]},{"id":"d889ccb8.6af9","type":"function","z":"23905b3.f1f97a4","name":"update status DB list server_connected","func":"\nquery = \"UPDATE `server_connected` SET `status` = 1 WHERE `id_server` = '\" + msg.payload.id_server + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":60,"wires":[["74a37caa.1237a4"]]},{"id":"74a37caa.1237a4","type":"mysql","z":"23905b3.f1f97a4","mydb":"d15a9d1.517596","name":"add server_connected","x":1680,"y":60,"wires":[["13779cd2.5e9323"]]},{"id":"13779cd2.5e9323","type":"debug","z":"23905b3.f1f97a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1850,"y":60,"wires":[]},{"id":"715b16f8.b4a328","type":"comment","z":"23905b3.f1f97a4","name":"nhanh update status khi connect thanh cong","info":"","x":1330,"y":20,"wires":[]},{"id":"e3aea68f.6180e8","type":"mqtt in","z":"23905b3.f1f97a4","name":"","topic":"setup","qos":"2","broker":"c8477576.da3f78","x":1010,"y":60,"wires":[["806cb69b.1289d8"]]},{"id":"806cb69b.1289d8","type":"json","z":"23905b3.f1f97a4","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":60,"wires":[["d889ccb8.6af9"]]},{"id":"d9054829.3c88a8","type":"inject","z":"23905b3.f1f97a4","name":"","topic":"setup","payload":"{\"id_server\":\"p2p_elefos003\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":60,"wires":[["29a26d79.e78972"]]},{"id":"29a26d79.e78972","type":"mqtt out","z":"23905b3.f1f97a4","name":"","topic":"","qos":"","retain":"","broker":"c8477576.da3f78","x":870,"y":60,"wires":[]},{"id":"37f9f983.2a4e76","type":"exec","z":"23905b3.f1f97a4","command":"python /home/pi/.node-red/run/merge.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":3080,"y":180,"wires":[["fa6dbc81.18b86"],[],[]]},{"id":"4f352faf.fac05","type":"function","z":"23905b3.f1f97a4","name":"","func":"msg.payload = \"meo thay nhe\"\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":300,"wires":[["75fb46c7.96f508"]]},{"id":"100cb346.2168cd","type":"mqtt-broker","z":"","name":"","broker":"68.183.234.96","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c8477576.da3f78","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d15a9d1.517596","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"NDT_table","tz":""}]