THUNG_GAO_IOT/codeserver/codeserver.txt
[{"id":"7313aefd.41da5","type":"mqtt in","z":"74794922.936938","name":"Nhận thông báo yêu cầu khách hàng","topic":"cntn/iot/esp/thongbao","qos":"2","broker":"fdd13987.3e3578","x":1071.0000534057617,"y":77.33330726623535,"wires":[["90997aa7.a88468"]]},{"id":"9452caa6.008df8","type":"ui_button","z":"74794922.936938","name":"","group":"f3c62ec3.ef631","order":0,"width":0,"height":0,"passthru":false,"label":"Tare","color":"","bgcolor":"","icon":"","payload":"tare","payloadType":"str","topic":"","x":758.1667175292969,"y":1166.666706085205,"wires":[["48929e49.b7622"]]},{"id":"f36c691d.f21108","type":"ui_button","z":"74794922.936938","name":"","group":"f3c62ec3.ef631","order":0,"width":0,"height":0,"passthru":false,"label":"CALIB","color":"","bgcolor":"","icon":"","payload":"calib","payloadType":"str","topic":"","x":754.1667098999023,"y":1224.6667003631592,"wires":[["ff0ab3c8.502e8"]]},{"id":"48929e49.b7622","type":"mqtt out","z":"74794922.936938","name":"","topic":"ServerToEsp","qos":"","retain":"","broker":"297137cb.d02ac8","x":934.166748046875,"y":1166.6667137145996,"wires":[]},{"id":"ff0ab3c8.502e8","type":"mqtt out","z":"74794922.936938","name":"","topic":"ServerToEsp","qos":"","retain":"","broker":"297137cb.d02ac8","x":932.1667289733887,"y":1222.6667184829712,"wires":[]},{"id":"30e63cfb.e2b024","type":"function","z":"74794922.936938","name":"nội dung mail","func":"var out = \"\";\nif (isNaN(msg.payload)) {\n    \n    out = \"Hộ gia đình anh/chị: \" + msg.payload[0]['hoten'] + \".<br>Có mã thùng: \" + msg.payload[0]['id_box'] +  \".<br>Đang sử dụng: \" + msg.payload[0]['loaigao'] + \", sắp hết gạo.<br>Vui lòng liên hệ đến số điện thoại \" + msg.payload[0]['sdt'] + \" để cung ứng gạo.<br>Địa chỉ khách hàng: \" + msg.payload[0]['diachi'] + \". <br>Xin cảm ơn sự phục vụ tận tình của cửa hàng!<br>Goldeneytech.com.vn\";\n    msg.topic = \"Thông báo cung cấp gạo\";\n    msg.payload = out;\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":2097.931838989258,"y":175.10977840423584,"wires":[["2378a5bc.59889a","3d96109d.f1b6f","6b4e6270.7cad7c"]]},{"id":"2378a5bc.59889a","type":"e-mail","z":"74794922.936938","server":"smtp.gmail.com","port":"465","secure":true,"name":"thunggaoiot@gmail.com;nguyenduytam3397@gmail.com","dname":"","x":2402.9317169189453,"y":244.14574146270752,"wires":[]},{"id":"3d96109d.f1b6f","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2319.9337120056152,"y":122.61547470092773,"wires":[]},{"id":"7f4907dc.cc4b78","type":"mqtt out","z":"74794922.936938","name":"","topic":"ServerToEsp","qos":"","retain":"","broker":"58bbdc18.c36f94","x":2685.833656311035,"y":187.66666221618652,"wires":[]},{"id":"6b4e6270.7cad7c","type":"function","z":"74794922.936938","name":"tắt cờ nhấn nút hoặc cộng thêm 1","func":"msg.payload = {\n    id_box : 1234\n    // id_box : msg.payload[0]['id_box'],\n    // msg : \"button_unlock\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":2423.833564758301,"y":182.66665172576904,"wires":[["7f4907dc.cc4b78"]]},{"id":"ca6d0c14.a6cdb","type":"mqtt in","z":"74794922.936938","name":"","topic":"cntn/iot/esp1/pin","qos":"2","broker":"58bbdc18.c36f94","x":2115.8333892822266,"y":28.99997901916504,"wires":[["d3a489f0.9a3b88"]]},{"id":"c3506632.778258","type":"mqtt out","z":"74794922.936938","name":"","topic":"ServerToEsp","qos":"","retain":"","broker":"58bbdc18.c36f94","x":2443.000068664551,"y":27.333303451538086,"wires":[]},{"id":"d3a489f0.9a3b88","type":"function","z":"74794922.936938","name":"","func":"msg.payload = \"1\";\nmsg.topic = \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":2286.0000648498535,"y":29.33327865600586,"wires":[["c3506632.778258"]]},{"id":"ad8bf5f.ce60508","type":"ui_form","z":"74794922.936938","name":"","label":"(*) Là trường bắt buộc nhập","group":"4e681ec1.31fc6","order":1,"width":0,"height":0,"options":[{"label":"Mã thùng","value":"id_box","type":"number","required":true},{"label":"Họ tên:","value":"hoten","type":"text","required":true},{"label":"Địa chỉ:","value":"diachi","type":"text","required":true},{"label":"Số điện thoại:","value":"sdt","type":"text","required":true},{"label":"Email:","value":"mail","type":"text","required":false},{"label":"Loại gạo:","value":"loaigao","type":"text","required":true},{"label":"Khối lượng (Kg):","value":"khoiluong","type":"number","required":true},{"label":"Số túi lẻ:","value":"sotui","type":"number","required":false},{"label":"Loại túi lẻ (Kg):","value":"loaitui","type":"number","required":false}],"formValue":{"id_box":"","hoten":"","diachi":"","sdt":"","mail":"","loaigao":"","khoiluong":"","sotui":"","loaitui":""},"payload":"","topic":"","x":613,"y":1825.999984741211,"wires":[["1279c67.b0f823a","ad39d12c.9763f","d4321f68.66e8d","88521e70.1d95f","17aeff45.867501","4308d121.ddc6c","22d6e1a7.b0118e","42b44cdd.b3cf84","20c15c19.74ea74","e9fe50a0.ac264","e019d285.d93db","5e50d48b.2ca1fc"]]},{"id":"d6d2aa1d.95c748","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1208.0027122497559,"y":1907.4324173927307,"wires":[]},{"id":"36ba5060.16b29","type":"function","z":"74794922.936938","name":"insert name","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd + \" \" + hh + \":\" + mmm + \":\" + ss;\n\n\nquery = \"INSERT INTO `khachhang` (`id_box`,`hoten`, `diachi`, `sdt`, `email`, `thoigian`, `loaigao`, `khoiluong`, `sotui`,`loaitui`) VALUES (?,?,?,?,?,?,?,?,?,?)\";\nmsg.payload = [msg.payload.id_box, msg.payload.hoten, msg.payload.diachi, msg.payload.sdt, msg.payload.mail, now ,msg.payload.loaigao, msg.payload.khoiluong, msg.payload.sotui, msg.payload.loaitui];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1038.9090118408203,"y":1835.7291107177734,"wires":[["d145ced8.6ea63","d6d2aa1d.95c748"]]},{"id":"d145ced8.6ea63","type":"mysql","z":"74794922.936938","mydb":"12b1c41f.94972c","name":"","x":1148.908893585205,"y":1767.729175567627,"wires":[["ddfed615.ee7b78"]]},{"id":"367a22eb.3595ae","type":"function","z":"74794922.936938","name":"insert name","func":"\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd + \" \" + hh + \":\" + mmm + \":\" + ss;\n\nquery = \"INSERT INTO `thietbi` (`id_box`,`soki`, `timer`, `pin`, `trangthai`) VALUES (?,?,?,?,?)\";\nmsg.payload = [msg.payload.id_box, msg.payload.soki, now, msg.payload.pin, msg.payload.trangthai];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2115.000026702881,"y":1372.9999694824219,"wires":[["67a0c154.b0f92","3d1b1265.8ecbce"]]},{"id":"67a0c154.b0f92","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2269.0938110351562,"y":1328.703109741211,"wires":[]},{"id":"3d1b1265.8ecbce","type":"mysql","z":"74794922.936938","mydb":"12b1c41f.94972c","name":"","x":2242,"y":1422.0000305175781,"wires":[[]]},{"id":"5de2d264.4216ec","type":"mqtt in","z":"74794922.936938","name":"","topic":"cntn/iot/esp/log","qos":"2","broker":"58bbdc18.c36f94","x":1660.1015853881836,"y":1374.374891281128,"wires":[["3a017650.9bd05a","f9f45861.076388","9d25b36.4ae4d5","16f69743.f9f1c9"]]},{"id":"646c0198.e48de","type":"mqtt out","z":"74794922.936938","name":"","topic":"cntn/iot/esp/log","qos":"","retain":"","broker":"58bbdc18.c36f94","x":1957.1041946411133,"y":1559.661431312561,"wires":[]},{"id":"242fd66a.69e44a","type":"ui_form","z":"74794922.936938","name":"","label":"mqtt test","group":"c7e760b5.a32bc","order":0,"width":0,"height":0,"options":[{"label":"ID:","value":"id_box","type":"number","required":true},{"label":"Khối lượng:","value":"soki","type":"number","required":true},{"label":"Pin","value":"pin","type":"number","required":true},{"label":"Trạng thái:","value":"trangthai","type":"text","required":true}],"formValue":{"id_box":"","soki":"","pin":"","trangthai":""},"payload":"","topic":"","x":1653.0130996704102,"y":1584.0103845596313,"wires":[["646c0198.e48de","c5e2b2f7.58e16"]]},{"id":"c5e2b2f7.58e16","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1939.106834411621,"y":1636.7082753181458,"wires":[]},{"id":"3a017650.9bd05a","type":"json","z":"74794922.936938","name":"","property":"payload","action":"","pretty":false,"x":1825.0963439941406,"y":1420.5781259536743,"wires":[["367a22eb.3595ae"]]},{"id":"1279c67.b0f823a","type":"ui_text","z":"74794922.936938","group":"36cce382.c2911c","order":2,"width":0,"height":0,"name":"","label":"Mã thùng:","format":"{{msg.payload.id_box}}","layout":"row-spread","x":1067.0764541625977,"y":2072.916738510132,"wires":[]},{"id":"ad39d12c.9763f","type":"ui_text","z":"74794922.936938","group":"36cce382.c2911c","order":3,"width":0,"height":0,"name":"","label":"Họ tên:","format":"{{msg.payload.hoten}}","layout":"row-spread","x":1069.0729751586914,"y":2123.923635482788,"wires":[]},{"id":"d4321f68.66e8d","type":"ui_text","z":"74794922.936938","group":"36cce382.c2911c","order":4,"width":0,"height":0,"name":"","label":"Địa chỉ:","format":"{{msg.payload.diachi}}","layout":"row-spread","x":1066.0694961547852,"y":2182.916738510132,"wires":[]},{"id":"88521e70.1d95f","type":"ui_text","z":"74794922.936938","group":"36cce382.c2911c","order":5,"width":0,"height":0,"name":"","label":"Số điện thoại:","format":"{{msg.payload.sdt}}","layout":"row-spread","x":1078.083351135254,"y":2236.9271144866943,"wires":[]},{"id":"17aeff45.867501","type":"ui_text","z":"74794922.936938","group":"36cce382.c2911c","order":6,"width":0,"height":0,"name":"","label":"Email","format":"{{msg.payload.mail}}","layout":"row-spread","x":1046.0694961547852,"y":2297.916738510132,"wires":[]},{"id":"4308d121.ddc6c","type":"ui_text","z":"74794922.936938","group":"36cce382.c2911c","order":7,"width":0,"height":0,"name":"","label":"Loại gạo:","format":"{{msg.payload.loaigao}}","layout":"row-spread","x":1046.0694961547852,"y":2346.1458644866943,"wires":[]},{"id":"22d6e1a7.b0118e","type":"ui_text","z":"74794922.936938","group":"36cce382.c2911c","order":8,"width":0,"height":0,"name":"","label":"Khối lượng (KG):","format":"{{msg.payload.khoiluong}}","layout":"row-spread","x":1075.0798721313477,"y":2402.135488510132,"wires":[]},{"id":"42b44cdd.b3cf84","type":"ui_text","z":"74794922.936938","group":"36cce382.c2911c","order":9,"width":0,"height":0,"name":"","label":"Số túi lẻ:","format":"{{msg.payload.sotui}}","layout":"row-spread","x":1037.0764541625977,"y":2459.1493434906006,"wires":[]},{"id":"20c15c19.74ea74","type":"ui_text","z":"74794922.936938","group":"36cce382.c2911c","order":10,"width":0,"height":0,"name":"","label":"Loại túi lẻ (KG):","format":"{{msg.payload.loaitui}}","layout":"row-spread","x":1048.083351135254,"y":2505.138967514038,"wires":[]},{"id":"e9fe50a0.ac264","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":682.8906440734863,"y":1518.699234008789,"wires":[]},{"id":"8419bbc6.aeda68","type":"ui_text","z":"74794922.936938","group":"f27364db.babd98","order":1,"width":0,"height":0,"name":"","label":"Mã thùng:","format":"{{msg.payload}}","layout":"row-spread","x":2501.0002098083496,"y":1962.3334856033325,"wires":[]},{"id":"20fb0828.3db448","type":"ui_text","z":"74794922.936938","group":"f27364db.babd98","order":2,"width":0,"height":0,"name":"","label":"Họ tên:","format":"{{msg.payload}}","layout":"row-spread","x":2507.9965782165527,"y":2007.3403520584106,"wires":[]},{"id":"9d52ddfd.afe03","type":"ui_text","z":"74794922.936938","group":"f27364db.babd98","order":3,"width":0,"height":0,"name":"","label":"Địa chỉ:","format":"{{msg.payload}}","layout":"row-spread","x":2513.9930381774902,"y":2058.3334856033325,"wires":[]},{"id":"f2a085b3.1daef8","type":"ui_text","z":"74794922.936938","group":"f27364db.babd98","order":4,"width":0,"height":0,"name":"","label":"Số điện thoại:","format":"{{msg.payload}}","layout":"row-spread","x":2538.006923675537,"y":2111.343738555908,"wires":[]},{"id":"e55c872a.5e5c38","type":"ui_text","z":"74794922.936938","group":"f27364db.babd98","order":5,"width":0,"height":0,"name":"","label":"Email","format":"{{msg.payload}}","layout":"row-spread","x":2505.9931297302246,"y":2183.333426475525,"wires":[]},{"id":"8e468b2d.636358","type":"ui_text","z":"74794922.936938","group":"f27364db.babd98","order":7,"width":0,"height":0,"name":"","label":"Loại gạo:","format":"{{msg.payload}}","layout":"row-spread","x":2511.9930381774902,"y":2317.5625553131104,"wires":[]},{"id":"9734f8d8.7a6438","type":"ui_text","z":"74794922.936938","group":"f27364db.babd98","order":8,"width":0,"height":0,"name":"","label":"Khối lượng (KG):","format":"{{msg.payload}}","layout":"row-spread","x":2539.003475189209,"y":2362.552179336548,"wires":[]},{"id":"7a172533.d1c7fc","type":"ui_text","z":"74794922.936938","group":"f27364db.babd98","order":9,"width":0,"height":0,"name":"","label":"Số túi lẻ:","format":"{{msg.payload}}","layout":"row-spread","x":2517.000026702881,"y":2425.5660648345947,"wires":[]},{"id":"99143c8d.86b08","type":"ui_text","z":"74794922.936938","group":"f27364db.babd98","order":10,"width":0,"height":0,"name":"","label":"Loại túi lẻ (KG):","format":"{{msg.payload}}","layout":"row-spread","x":2531.0069541931152,"y":2478.5555362701416,"wires":[]},{"id":"ea36c733.a171d8","type":"ui_text_input","z":"74794922.936938","name":"Mã thùng:","label":"Nhập mã thùng","group":"9b250912.f9e468","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":1562.1667709350586,"y":1840.333387374878,"wires":[["dcfc84b0.559098","40c3ca15.2997c4"]]},{"id":"dcfc84b0.559098","type":"change","z":"74794922.936938","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"ID","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1744.0000534057617,"y":1778.0000476837158,"wires":[[]]},{"id":"40c3ca15.2997c4","type":"ui_button","z":"74794922.936938","name":"","group":"9b250912.f9e468","order":3,"width":0,"height":0,"passthru":false,"label":"Kiểm tra","color":"","bgcolor":"","icon":"","payload":"ID","payloadType":"flow","topic":"","x":1726.0000228881836,"y":1882.0000133514404,"wires":[["38808dda.c13c72"]]},{"id":"38808dda.c13c72","type":"function","z":"74794922.936938","name":"select","func":"\nquery = \"SELECT * FROM khachhang INNER join thietbi on khachhang.id_box = thietbi.id_box WHERE khachhang.id_box = \" + msg.payload + \" ORDER BY thietbi.unit DESC LIMIT 1\";\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":1898.0000305175781,"y":1867.0000648498535,"wires":[["a927cb61.568af8"]]},{"id":"a927cb61.568af8","type":"mysql","z":"74794922.936938","mydb":"12b1c41f.94972c","name":"thunggao","x":2036.000087738037,"y":1864.000111579895,"wires":[["232cbde6.9d3e52","bf6184cc.aeeae8","741d30e5.706f5","a8215e93.45d74","9fa88a84.44ab58","ae6cd91a.2a7da8","479f742.30ecc8c","8401c268.3c8e5","158172cc.1e0a4d","31c7aa40.07dd76","d9845135.8e1b3","1fdbd8af.484367","3f92b992.d299c6","7c77f681.be25e8","5c26267f.5b1d48"]]},{"id":"bf6184cc.aeeae8","type":"function","z":"74794922.936938","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['id_box'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":2311.2987327575684,"y":1917.6320085525513,"wires":[["8419bbc6.aeda68","195a7ac7.0a9b25"]]},{"id":"741d30e5.706f5","type":"function","z":"74794922.936938","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['hoten'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":2328.2395248413086,"y":2009.010389328003,"wires":[["20fb0828.3db448"]]},{"id":"a8215e93.45d74","type":"function","z":"74794922.936938","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['diachi'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":2321.2395248413086,"y":2062.010389328003,"wires":[["9d52ddfd.afe03"]]},{"id":"9fa88a84.44ab58","type":"function","z":"74794922.936938","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['sdt'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":2332.2395248413086,"y":2113.010389328003,"wires":[["f2a085b3.1daef8"]]},{"id":"ae6cd91a.2a7da8","type":"function","z":"74794922.936938","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['email'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":2340.2395248413086,"y":2186.010389328003,"wires":[["e55c872a.5e5c38"]]},{"id":"479f742.30ecc8c","type":"function","z":"74794922.936938","name":"","func":"\nvar str = msg.payload;\nif (isNaN(str))\nstr = str[0]['thoigian'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":2337.2394485473633,"y":2256.01034450531,"wires":[["d6d44c6e.530ef"]]},{"id":"8401c268.3c8e5","type":"function","z":"74794922.936938","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['loaigao'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":2328.239501953125,"y":2316.0104579925537,"wires":[["8e468b2d.636358"]]},{"id":"158172cc.1e0a4d","type":"function","z":"74794922.936938","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['khoiluong'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":2328.239444732666,"y":2366.0104064941406,"wires":[["9734f8d8.7a6438"]]},{"id":"31c7aa40.07dd76","type":"function","z":"74794922.936938","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['sotui'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":2331.2394981384277,"y":2426.010410785675,"wires":[["7a172533.d1c7fc"]]},{"id":"7c77f681.be25e8","type":"function","z":"74794922.936938","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['loaitui'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":2339.2394981384277,"y":2481.0104689598083,"wires":[["99143c8d.86b08"]]},{"id":"d6d44c6e.530ef","type":"ui_text","z":"74794922.936938","group":"f27364db.babd98","order":6,"width":0,"height":0,"name":"","label":"Thời gian mua:","format":"{{msg.payload}}","layout":"row-spread","x":2528.2394981384277,"y":2256.0106115341187,"wires":[]},{"id":"398737bd.10b808","type":"ui_text","z":"74794922.936938","group":"9b250912.f9e468","order":1,"width":0,"height":0,"name":"","label":"Kết quả tra cứu:","format":"{{msg.payload}}","layout":"row-spread","x":2544.736358642578,"y":2549.594114303589,"wires":[]},{"id":"232cbde6.9d3e52","type":"function","z":"74794922.936938","name":"","func":"\nif( isNaN(msg.payload)){\n msg.payload = \"Đã tìm thấy khách hàng\";\n }else{\n  msg.payload = \"Không tìm thấy khách hàng\";\n }\n  return msg;\n ","outputs":1,"noerr":0,"x":2354.743251800537,"y":2548.298765182495,"wires":[["455d8d4e.e7a144","398737bd.10b808"]]},{"id":"455d8d4e.e7a144","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":2533.0002098083496,"y":2611.0004863739014,"wires":[]},{"id":"d9845135.8e1b3","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2348.000026702881,"y":1624.0000038146973,"wires":[]},{"id":"f100f9cb.133df8","type":"debug","z":"74794922.936938","name":"","active":true,"complete":false,"x":1573.0000228881836,"y":2669.0000133514404,"wires":[]},{"id":"479a10f5.0b643","type":"inject","z":"74794922.936938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":1098.0000228881836,"y":2672.0000133514404,"wires":[["af7c9cb6.0fa15"]]},{"id":"af7c9cb6.0fa15","type":"function","z":"74794922.936938","name":"Format timestamp","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd + \" \" + hh + \":\" + mmm + \":\" + ss;\nmsg.payload = now;\nreturn msg;","outputs":1,"noerr":0,"x":1288.0000228881836,"y":2672.0000133514404,"wires":[["f100f9cb.133df8"]]},{"id":"ac64e139.7b79b","type":"inject","z":"74794922.936938","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1117.0000228881836,"y":2840.0000133514404,"wires":[["dbb4f940.f2e348"]]},{"id":"34c7ea3d.75cc66","type":"debug","z":"74794922.936938","name":"output","active":true,"console":"false","complete":"true","x":1709.0000228881836,"y":2768.0000133514404,"wires":[]},{"id":"2f8838d4.8ce4e8","type":"function","z":"74794922.936938","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1519.0000228881836,"y":2837.0000133514404,"wires":[["34c7ea3d.75cc66"]]},{"id":"dbb4f940.f2e348","type":"function","z":"74794922.936938","name":"set timestamp","func":"msg.timestamp=1376763133 * 1000;\nreturn msg;","outputs":1,"noerr":0,"x":1301.0000228881836,"y":2840.0000133514404,"wires":[["2f8838d4.8ce4e8"]]},{"id":"8e3f69ba.e23a58","type":"inject","z":"74794922.936938","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":1117.0000228881836,"y":2768.0000133514404,"wires":[["2f8838d4.8ce4e8"]]},{"id":"4527fe2b.e1d05","type":"ui_gauge","z":"74794922.936938","name":"Dung lượng Pin (Volte)","group":"53df131f.ff033c","order":5,"width":"","height":"","gtype":"gage","title":"Dung lượng Pin (Volte)","label":"","format":"{{value}}","min":0,"max":"9","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2543,"y":1734.0000343322754,"wires":[]},{"id":"901f884c.12b868","type":"ui_gauge","z":"74794922.936938","name":"Khối lượng (KG)","group":"53df131f.ff033c","order":4,"width":"0","height":"0","gtype":"wave","title":"","label":" KG","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2530.000026702881,"y":1829.0000505447388,"wires":[]},{"id":"c0ee3ad8.8b7ba8","type":"ui_chart","z":"74794922.936938","name":"Biểu đồ sử dụng","group":"e37df879.c2d268","order":1,"width":"","height":"","label":"thunggaoiot@gmail.com","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Biểu đồ sử dụng","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":2531.000087738037,"y":1787.0000200271606,"wires":[[],[]]},{"id":"160d4237.5cc2de","type":"ui_text","z":"74794922.936938","group":"53df131f.ff033c","order":2,"width":"","height":"","name":"+ Tình trạng:","label":"+ Tình trạng:","format":"{{msg.payload}}","layout":"row-left","x":2511.000087738037,"y":1689.0000343322754,"wires":[]},{"id":"a6a63508.7f8348","type":"ui_text","z":"74794922.936938","group":"e37df879.c2d268","order":4,"width":"","height":"","name":"+ Dự đoán số ngày sử dụng hết:","label":"+ Dự đoán số ngày sử dụng hết:","format":"{{msg.payload}}","layout":"row-left","x":2747.0000534057617,"y":1880.0001411437988,"wires":[]},{"id":"195a7ac7.0a9b25","type":"ui_text","z":"74794922.936938","group":"53df131f.ff033c","order":1,"width":"","height":"","name":"+ Mã thùng:","label":"+ Mã thùng:","format":"{{msg.payload}}","layout":"row-left","x":2511.000087738037,"y":1921.0001420974731,"wires":[]},{"id":"5c26267f.5b1d48","type":"function","z":"74794922.936938","name":"","func":"// var str = msg.payload;\n// if (isNaN(str))\n// str = str[0]['pin'];\n// else\n// str = \"0\";\nstr = 7;\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":2323.0000610351562,"y":1772.0000495910645,"wires":[["4527fe2b.e1d05"]]},{"id":"1fdbd8af.484367","type":"function","z":"74794922.936938","name":"","func":"var str = msg.payload;\nif (isNaN(str))\nstr = str[0]['soki'];\nelse\nstr = \"0\";\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":2320,"y":1835.0000200271606,"wires":[["c0ee3ad8.8b7ba8","901f884c.12b868","75171fc8.df75e"]]},{"id":"3f92b992.d299c6","type":"function","z":"74794922.936938","name":"trạng thái","func":"var str = msg.payload;\nif (isNaN(str)){\n    if(str[0]['trangthai'] == \"còn gạo\")\n    str = \"Đủ sử dụng\";\n    else if (str[0]['trangthai'] == \"sắp hết\")\n    str = \"Sắp hết gạo\";\n    else if (str[0]['trangthai'] == \"yêu cầu\")\n    str = \"Được yêu cầu gấp\"\n    else\n    str =\"\";\n}\n\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":2333.000030517578,"y":1710.0000343322754,"wires":[["160d4237.5cc2de"]]},{"id":"75171fc8.df75e","type":"function","z":"74794922.936938","name":"","func":"if (msg.payload !== 0)\nmsg.payload += 1;\nreturn msg;","outputs":1,"noerr":0,"x":2526.0000915527344,"y":1877.0001106262207,"wires":[["a6a63508.7f8348"]]},{"id":"90997aa7.a88468","type":"json","z":"74794922.936938","name":"","property":"payload","action":"","pretty":false,"x":1352.8946361541748,"y":96.50519371032715,"wires":[["270adc39.581144","5de8d3ae.431c8c"]]},{"id":"b7765146.4c139","type":"function","z":"74794922.936938","name":"select điền mail","func":"var id_box = msg.payload.id_box;\nif (isNaN(id_box))\n id_box = msg.payload[0]['id_box'];\n \nvar out = \"SELECT kh.id_box, kh.hoten, kh.diachi, kh.sdt, kh.loaigao FROM khachhang kh WHERE kh.id_box =\" + id_box;\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1743.8984832763672,"y":120.30989837646484,"wires":[["f5c0ce1f.cdeea","357afab2.18f2e6"]]},{"id":"787de4a7.ac3dac","type":"mqtt out","z":"74794922.936938","name":"","topic":"cntn/iot/esp/thongbao","qos":"","retain":"","broker":"58bbdc18.c36f94","x":1212.8945236206055,"y":182.98566246032715,"wires":[]},{"id":"1e9a736d.a8984d","type":"inject","z":"74794922.936938","name":"yêu cầu","topic":"thunggaoiot@gmail.com","payload":"{\"id_box\":412, \"thongbao\":\"yêu cầu\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":949.8867111206055,"y":196.77472496032715,"wires":[["787de4a7.ac3dac"]]},{"id":"f5c0ce1f.cdeea","type":"mysql","z":"74794922.936938","mydb":"12b1c41f.94972c","name":"","x":1902.0195617675781,"y":178.3372163772583,"wires":[["30e63cfb.e2b024","9ddb06ff.500e58"]]},{"id":"357afab2.18f2e6","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":1922.8945846557617,"y":63.03255367279053,"wires":[]},{"id":"9ddb06ff.500e58","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2053.8867568969727,"y":266.02862453460693,"wires":[]},{"id":"fc317b31.9266d8","type":"inject","z":"74794922.936938","name":"","topic":"","payload":"{\"id_box\":412, \"soki\":20,\"pin\":4, \"trangthai\":\"sắp hết\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1661.0195541381836,"y":1646.0039196014404,"wires":[["646c0198.e48de","c5e2b2f7.58e16"]]},{"id":"270adc39.581144","type":"switch","z":"74794922.936938","name":"kiểm tra trạng thái","property":"payload.thongbao","propertyType":"msg","rules":[{"t":"eq","v":"\"yêu cầu\"","vt":"jsonata"},{"t":"eq","v":"\"sắp hết\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1508.1667098999023,"y":186.33332061767578,"wires":[["b7765146.4c139"],["8b1b39f1.cab1f8"]]},{"id":"a11b02f9.031b7","type":"inject","z":"74794922.936938","name":"sắp hết","topic":"thunggaoiot@gmail.com","payload":"{\"id_box\":412, \"thongbao\":\"sắp hết\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":949.9921798706055,"y":244.12238121032715,"wires":[["787de4a7.ac3dac"]]},{"id":"8f0afbbc.c0aed8","type":"inject","z":"74794922.936938","name":"còn gạo","topic":"thunggaoiot@gmail.com","payload":"{\"id_box\":412, \"thongbao\":\"còn gạo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":944.0000267028809,"y":300.33332109451294,"wires":[["787de4a7.ac3dac"]]},{"id":"5de8d3ae.431c8c","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1484.166690826416,"y":20,"wires":[]},{"id":"8b1b39f1.cab1f8","type":"function","z":"74794922.936938","name":"select kiểm tra kí","func":"var out =   \"SELECT kh.id_box, kh.khoiluong, MAX(tb.soki) as soki FROM khachhang kh INNER JOIN thietbi tb ON kh.id_box = tb.id_box WHERE kh.id_box =\" + msg.payload.id_box ; \n//+ \" ORDER BY tb.unit DESC LIMIT 1\"\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1282.1667098999023,"y":317.00000762939453,"wires":[["9d49e3e8.df87f"]]},{"id":"9d49e3e8.df87f","type":"mysql","z":"74794922.936938","mydb":"12b1c41f.94972c","name":"","x":1302.00004196167,"y":411.0000112056732,"wires":[["66c6ca61.d32034","2d654ff3.bb7f6"]]},{"id":"66c6ca61.d32034","type":"function","z":"74794922.936938","name":"kiểm tra hết thật chưa","func":"if(msg.payload[0]['khoiluong'] - 2 > msg.payload[0]['soki'])\nmsg.payload.thongbao = \"đợi confirm\";\nelse\nmsg.payload.thongbao = \"đã hết\";\nreturn msg;","outputs":1,"noerr":0,"x":1548.1667137145996,"y":325.0000705718994,"wires":[["7b5275fd.8ce13c"]]},{"id":"2d654ff3.bb7f6","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1503.1667175292969,"y":454.000093460083,"wires":[]},{"id":"7b5275fd.8ce13c","type":"switch","z":"74794922.936938","name":"rẻ nhánh đợi hay gọi","property":"payload.thongbao","propertyType":"msg","rules":[{"t":"eq","v":"\"đã hết\"","vt":"jsonata"},{"t":"eq","v":"\"đợi confirm\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1768.1667251586914,"y":384.0000104904175,"wires":[["b7765146.4c139","ba1a7bc5.eb5698"],["692b113c.3b101"]]},{"id":"ba1a7bc5.eb5698","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.thongbao","x":2106.166732788086,"y":365.6666774749756,"wires":[]},{"id":"692b113c.3b101","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.thongbao","x":2102.1667251586914,"y":415.6666793823242,"wires":[]},{"id":"34433ff1.de02c","type":"inject","z":"74794922.936938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1849,"y":524,"wires":[["21c263ab.68433c"]]},{"id":"5bfbcdd1.8c7be4","type":"sms","z":"74794922.936938","name":"sms","message":"","numbers":"+84988638043","throttle":"1","twilio":"23b0b06e.e0f98","x":2201.986114501953,"y":516.7013454437256,"wires":[["69ad3f35.ccbdd"]]},{"id":"21c263ab.68433c","type":"function","z":"74794922.936938","name":"","func":"var mess = {\n    payload: \"Gao cua ban sap het, vui long nhan 2 lan nut mau DO tren thung gao de xac nhan, chung toi se lien he lai. Xin cam on!\"\n};\nreturn mess;","outputs":1,"noerr":0,"x":2032.0000953674316,"y":516.6736259460449,"wires":[["5bfbcdd1.8c7be4"]]},{"id":"69ad3f35.ccbdd","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2366.9861793518066,"y":518.6284828186035,"wires":[]},{"id":"1af9e1d8.1958ee","type":"twilio out","z":"74794922.936938","twilio":"90406709.added8","twilioType":"call","url":"https://api.twilio.com/2010-0401/Accounts/my_account/Calls.json","number":"+841666942492","name":"","x":2207.083480834961,"y":581.6944198608398,"wires":[]},{"id":"d2fdb97b.2d5b48","type":"ui_text","z":"74794922.936938","group":"36cce382.c2911c","order":1,"width":0,"height":0,"name":"","label":"Kết quả nhập:","format":"{{msg.payload}}","layout":"row-spread","x":1530.1486225128174,"y":1994.711166381836,"wires":[]},{"id":"ddfed615.ee7b78","type":"function","z":"74794922.936938","name":" ","func":"var str = \"\";\nif (isNaN(msg.payload))\n    str = \"Đã lưu thông tin người dùng\";\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1297.1328048706055,"y":1842.9844493865967,"wires":[["e7ec0b30.733fb8"]]},{"id":"e7ec0b30.733fb8","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410.39453125,"y":1927.69921875,"wires":[]},{"id":"e019d285.d93db","type":"function","z":"74794922.936938","name":"","func":"query = \"SELECT EXISTS (SELECT 1 FROM khachhang kh WHERE kh.id_box =\" + msg.payload.id_box +\") as thongbao\";\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":977.8984222412109,"y":1896.984453201294,"wires":[["85ef2bcf.a52f78"]]},{"id":"85ef2bcf.a52f78","type":"mysql","z":"74794922.936938","mydb":"12b1c41f.94972c","name":"","x":1158.01953125,"y":2001.0040283203125,"wires":[["a40b8eab.4d3d1","340c54a3.70b9ac"]]},{"id":"a40b8eab.4d3d1","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1347.89453125,"y":2103.6953125,"wires":[]},{"id":"5e50d48b.2ca1fc","type":"delay","z":"74794922.936938","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":869.8906097412109,"y":1823.9453892707825,"wires":[["36ba5060.16b29"]]},{"id":"340c54a3.70b9ac","type":"function","z":"74794922.936938","name":"","func":"var str = msg.payload[0]['thongbao'];\nif (str === 0)\n    msg.payload = \"Đã lưu thành công\";\nelse\n    msg.payload = \"Thông tin lưu trữ lỗi, vui lòng kiểm tra Mã thùng bị trùng lặp\";\nreturn msg;","outputs":1,"noerr":0,"x":1336.8984375,"y":1998.98828125,"wires":[["d2fdb97b.2d5b48"]]},{"id":"b061d742.fd0008","type":"inject","z":"74794922.936938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2593.8334350585938,"y":375.3333435058594,"wires":[["6b4e6270.7cad7c"]]},{"id":"436254d5.ddf37c","type":"delay","z":"74794922.936938","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1739.388916015625,"y":1964.2222290039062,"wires":[["38808dda.c13c72"]]},{"id":"f9f45861.076388","type":"debug","z":"74794922.936938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1864.1041526794434,"y":1346.7082834243774,"wires":[]},{"id":"c6228eeb.989f2","type":"inject","z":"74794922.936938","name":"","topic":"","payload":"tare","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":647.1666870117188,"y":1323.6666564941406,"wires":[["48929e49.b7622"]]},{"id":"3684ddfc.fb0a22","type":"inject","z":"74794922.936938","name":"","topic":"","payload":"calib","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":453.16668701171875,"y":1235.6666564941406,"wires":[["ff0ab3c8.502e8"]]},{"id":"db289572.509b58","type":"mqtt out","z":"74794922.936938","name":"","topic":"ServerToEsp","qos":"","retain":"","broker":"58bbdc18.c36f94","x":1973,"y":1497,"wires":[]},{"id":"9d25b36.4ae4d5","type":"function","z":"74794922.936938","name":"","func":"msg.payload ={\n    id_box : 1234 \n}\nreturn msg;","outputs":1,"noerr":0,"x":1778,"y":1501,"wires":[["db289572.509b58"]]},{"id":"794f8536.02bc3c","type":"mqtt out","z":"74794922.936938","name":"","topic":"ServerToEsp","qos":"","retain":"","broker":"58bbdc18.c36f94","x":1543,"y":1503,"wires":[]},{"id":"16f69743.f9f1c9","type":"function","z":"74794922.936938","name":"","func":"msg.payload ={\n    id_box : 1235\n}\nreturn msg;","outputs":1,"noerr":0,"x":1546,"y":1448,"wires":[["794f8536.02bc3c"]]},{"id":"fdd13987.3e3578","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f3c62ec3.ef631","type":"ui_group","z":"","name":"Cài đặt","tab":"9c7d2663.701028","order":5,"disp":true,"width":"6","collapse":false},{"id":"297137cb.d02ac8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"58bbdc18.c36f94","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4e681ec1.31fc6","type":"ui_group","z":"","name":"Thông tin mua gạo","tab":"c0dda01d.fb017","order":1,"disp":true,"width":"10","collapse":false},{"id":"12b1c41f.94972c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"thunggao","tz":""},{"id":"c7e760b5.a32bc","type":"ui_group","z":"","name":"Test data mqtt","tab":"c0dda01d.fb017","order":3,"disp":true,"width":"6","collapse":false},{"id":"36cce382.c2911c","type":"ui_group","z":"","name":"Thông tin vừa đăng kí","tab":"c0dda01d.fb017","order":2,"disp":true,"width":"10","collapse":false},{"id":"f27364db.babd98","type":"ui_group","z":"","name":"Thông tin người dùng","tab":"9c7d2663.701028","order":4,"disp":true,"width":"8","collapse":false},{"id":"9b250912.f9e468","type":"ui_group","z":"","name":"Tra cứu thông tin","tab":"9c7d2663.701028","order":3,"disp":true,"width":"8","collapse":false},{"id":"53df131f.ff033c","type":"ui_group","z":"","name":"Thùng gạo IoT","tab":"9c7d2663.701028","order":1,"disp":true,"width":"8","collapse":false},{"id":"e37df879.c2d268","type":"ui_group","z":"","name":"Biểu đồ sử dụng","tab":"9c7d2663.701028","order":2,"disp":true,"width":"16","collapse":false},{"id":"23b0b06e.e0f98","type":"twilioConfig","z":"","name":"twilioConfig"},{"id":"90406709.added8","type":"twilio-api","z":"","name":"","sid":"AC66211ead357651b0137d5404c36f1ede","from":"+19719838142"},{"id":"9c7d2663.701028","type":"ui_tab","z":"","name":"Thùng gạo IoT","icon":"dashboard","order":1},{"id":"c0dda01d.fb017","type":"ui_tab","z":"","name":"Thông tin mua gạo","icon":"work","order":2}]