THUNG_GAO_IOT/CODE_SERVER/Server_Sensor/Code_server_sensor_11_3_2019_luong_email.txt
[{"id":"36b464aa.307c4c","type":"inject","z":"fa5d1194.000f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":240,"wires":[["4c8bce08.a5fcb"]]},{"id":"79c6c94b.4c6158","type":"mqtt out","z":"fa5d1194.000f4","name":"","topic":"rBox/log","qos":"","retain":"","broker":"9ba5f09c.6d3df","x":1000,"y":240,"wires":[]},{"id":"4c8bce08.a5fcb","type":"function","z":"fa5d1194.000f4","name":"test log device","func":"msg.payload = {\n    \"device_id\" : \"rbox_0002\",\n    \"device_oauth\" : \"D431F2799ED0A22CDEF342D100A14CC8\",\n    \"weight\" : 1.1,\n    \"battery\" : 3.01\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":240,"wires":[["79c6c94b.4c6158"]]},{"id":"8a13982.9f77b68","type":"mqtt in","z":"fa5d1194.000f4","name":"","topic":"rBox/log","qos":"2","broker":"9ba5f09c.6d3df","x":1260,"y":300,"wires":[["86f3a12e.686e6"]]},{"id":"98f67935.164d28","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1750,"y":220,"wires":[]},{"id":"28d059d.0cf0aa6","type":"function","z":"fa5d1194.000f4","name":"gửi số liệu cho device đi ngủ","func":"msg.topic = msg.payload.device_id + msg.payload.device_oauth\nmsg.payload = {\n    \"content\": \"off\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":340,"wires":[["3d6dc0bf.240a9"]]},{"id":"3d6dc0bf.240a9","type":"mqtt out","z":"fa5d1194.000f4","name":"","topic":"","qos":"","retain":"","broker":"9ba5f09c.6d3df","x":2010,"y":340,"wires":[]},{"id":"b565af73.9b1fa","type":"mqtt in","z":"fa5d1194.000f4","name":"","topic":"rbox_0001D431F2799ED0A22CDEF342D100A14CC8","qos":"2","broker":"9ba5f09c.6d3df","x":720,"y":300,"wires":[["515c6fa6.7b4c9"]]},{"id":"515c6fa6.7b4c9","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":300,"wires":[]},{"id":"aa0973ff.10e4f","type":"comment","z":"fa5d1194.000f4","name":"Device fake test public and subscrible","info":"","x":670,"y":200,"wires":[]},{"id":"32eaf297.5acebe","type":"comment","z":"fa5d1194.000f4","name":"Server get log device","info":"","x":1300,"y":240,"wires":[]},{"id":"40955e54.e3f6e","type":"mqtt in","z":"fa5d1194.000f4","name":"","topic":"rBox/notify","qos":"2","broker":"9ba5f09c.6d3df","x":1260,"y":440,"wires":[["602d8c2.50a4c74"]]},{"id":"602d8c2.50a4c74","type":"json","z":"fa5d1194.000f4","name":"","property":"payload","action":"","pretty":false,"x":1390,"y":440,"wires":[["1bfee5b7.7969ca"]]},{"id":"363f6b40.5edbe4","type":"mqtt in","z":"fa5d1194.000f4","name":"","topic":"rBox/battery","qos":"2","broker":"9ba5f09c.6d3df","x":1270,"y":540,"wires":[["4fa376f3.63dc68"]]},{"id":"970d34b2.ee6958","type":"function","z":"fa5d1194.000f4","name":"check oauth","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":300,"wires":[["28d059d.0cf0aa6","98f67935.164d28","313c5b10.eb0894"]]},{"id":"59d62d60.8cc7f4","type":"function","z":"fa5d1194.000f4","name":"check oauth","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":540,"wires":[["74a93fbe.abdab"]]},{"id":"68ec1538.23a5dc","type":"inject","z":"fa5d1194.000f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":380,"wires":[["6b1fc11f.f96ca"]]},{"id":"6b1fc11f.f96ca","type":"function","z":"fa5d1194.000f4","name":"test notify device","func":"msg.payload = {\n    \"device_id\" : \"rbox_0002\",\n    \"device_oauth\" : \"D431F2799ED0A22CDEF342D100A14CC8\",\n    \"notify\": \"low\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":380,"wires":[["e6efe55b.d46f18"]]},{"id":"e6efe55b.d46f18","type":"mqtt out","z":"fa5d1194.000f4","name":"","topic":"rBox/notify","qos":"","retain":"","broker":"9ba5f09c.6d3df","x":1010,"y":380,"wires":[]},{"id":"74a93fbe.abdab","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":540,"wires":[]},{"id":"1bfee5b7.7969ca","type":"function","z":"fa5d1194.000f4","name":"check oauth","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":440,"wires":[["5acc399.7d1a2c8"]]},{"id":"4fa376f3.63dc68","type":"json","z":"fa5d1194.000f4","name":"","property":"payload","action":"","pretty":false,"x":1410,"y":540,"wires":[["59d62d60.8cc7f4"]]},{"id":"86f3a12e.686e6","type":"json","z":"fa5d1194.000f4","name":"","property":"payload","action":"","pretty":false,"x":1390,"y":300,"wires":[["970d34b2.ee6958"]]},{"id":"231e3721.1e8428","type":"inject","z":"fa5d1194.000f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":440,"wires":[["447089c7.3734c8"]]},{"id":"447089c7.3734c8","type":"function","z":"fa5d1194.000f4","name":"test battery device","func":"msg.payload = {\n    \"device_id\" : \"rbox_0001\",\n    \"device_oauth\" : \"D431F2799ED0A22CDEF342D100A14CC8\",\n    \"battery\": \"low\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":440,"wires":[["98024fff.41832"]]},{"id":"98024fff.41832","type":"mqtt out","z":"fa5d1194.000f4","name":"","topic":"rBox/battery","qos":"","retain":"","broker":"9ba5f09c.6d3df","x":1010,"y":440,"wires":[]},{"id":"5acc399.7d1a2c8","type":"function","z":"fa5d1194.000f4","name":"select kiểm tra kí","func":"var out =   \"SELECT log.device_id, log.weight, rice_used.weight as weight_buy FROM log INNER JOIN rice_used ON log.device_id = rice_used.device_id WHERE log.device_id ='\" + msg.payload.device_id +\"' and log.count = 1 ORDER BY log.unit DESC LIMIT 1\"\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":440,"wires":[["c62ae4d4.1816c8"]]},{"id":"c62ae4d4.1816c8","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":1870,"y":440,"wires":[["430bb75d.1932f8"]]},{"id":"313c5b10.eb0894","type":"function","z":"fa5d1194.000f4","name":"select kiểm tra kí","func":"msg.log = msg.payload\nvar out =   \"SELECT log.device_id , log.weight, log.count, rice_used.status FROM log INNER JOIN rice_used ON log.device_id = rice_used.device_id WHERE log.device_id ='\" + msg.payload.device_id + \"' ORDER BY log.unit DESC LIMIT 1\"\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":280,"wires":[["4222269f.b53f08"]]},{"id":"4222269f.b53f08","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":1970,"y":280,"wires":[["8fa5bc94.e6771"]]},{"id":"8aeec845.1a7948","type":"function","z":"fa5d1194.000f4","name":"insert log count ++ or reset","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd + \" \" + hh + \":\" + mmm + \":\" + ss;\n\nif (msg.payload[0]['status'] == 1 && msg.log.weight - msg.payload[0]['weight'] >= 2.5){ //2,5 la co dau hieu do lai gao \n    msg.payload[0]['count'] = 1 //reset ve 1\n    msg.status = 0\n}else if (msg.payload[0]['status'] === 0 && msg.log.weight - msg.payload[0]['weight'] >= 2.5){ //2,5 la co dau hieu do lai gao \n    // đây chính là trường hợp gạo tăng do đổ lần 2, không phải mua mới\n    // cần có cờ ở đây để tính tổng 2, 3 lần đỗ gạo so với tổng đã mua thì mới xác nhận dc là hết gạo\n    msg.status = 1\n    msg.payload[0]['count']++\n}else{\n    msg.payload[0]['count']++\n}\n\nquery = \"INSERT INTO `log` (`device_id`,`weight`, `battery`, `time`, `count`) VALUES (?,?,?,?,?)\";\nmsg.payload = [msg.log.device_id, msg.log.weight, msg.log.battery, now, msg.payload[0]['count']];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2340,"y":300,"wires":[["f13bbde4.70be9"]]},{"id":"d0cf3df7.4bbc6","type":"switch","z":"fa5d1194.000f4","name":"","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":2690,"y":280,"wires":[["9125c91b.697938"],["def58249.ab4f5"],[]]},{"id":"9125c91b.697938","type":"function","z":"fa5d1194.000f4","name":"update status rice_used = 0","func":"query = \"UPDATE `rice_used` SET `status` = 0 WHERE `device_id` = '\" + msg.log.device_id + \"' ORDER BY log.unit DESC LIMIT 1\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2880,"y":240,"wires":[["604b8835.6c5c68"]]},{"id":"604b8835.6c5c68","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":3070,"y":280,"wires":[["5ebf13aa.d3eecc"]]},{"id":"430bb75d.1932f8","type":"function","z":"fa5d1194.000f4","name":"trust rice enough","func":"if (msg.payload[0]['weight_buy'] - msg.payload[0]['weight'] >= 2.5){\n    msg.enough = 1 \n}\nreturn msg;","outputs":1,"noerr":0,"x":2030,"y":440,"wires":[["87caab25.6f6648"]]},{"id":"87caab25.6f6648","type":"switch","z":"fa5d1194.000f4","name":"","property":"enough","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2190,"y":440,"wires":[["58167690.02ef68"],["556f4f7e.cb81b"]]},{"id":"556f4f7e.cb81b","type":"function","z":"fa5d1194.000f4","name":"search in map (change if lookup google map)","func":"var out = \"SELECT map.device_id , map.store_id FROM map WHERE map.device_id ='\" + msg.payload[0]['device_id'] + \"'\"\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":2430,"y":480,"wires":[["13e5dd1.8e80923"]]},{"id":"bf76feb0.c4c06","type":"comment","z":"fa5d1194.000f4","name":"luồng này là gạo vẫn còn nên không làm gì cả","info":"","x":2610,"y":400,"wires":[]},{"id":"13e5dd1.8e80923","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":2690,"y":480,"wires":[["6b832c11.9e6004","d4a160cb.24b37"]]},{"id":"53b63207.cb6adc","type":"function","z":"fa5d1194.000f4","name":"insert list delivery","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd + \" \" + hh + \":\" + mmm + \":\" + ss;\n\nquery = \"INSERT INTO `delivery` (`device_id`, `store_id`, `time`, `status`) VALUES (?,?,?,?)\";\nmsg.payload = [msg.delivery[0]['device_id'], msg.delivery[0]['store_id'], now, 1];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":3290,"y":480,"wires":[["53829d07.fcbcf4"]]},{"id":"53829d07.fcbcf4","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":3450,"y":480,"wires":[["81391031.c1038"]]},{"id":"6b832c11.9e6004","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2850,"y":440,"wires":[]},{"id":"81391031.c1038","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":3570,"y":480,"wires":[]},{"id":"58167690.02ef68","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2330,"y":400,"wires":[]},{"id":"def58249.ab4f5","type":"function","z":"fa5d1194.000f4","name":"update total for the first log","func":"query = \"UPDATE `log` SET `weight` = `weight` + '\" + msg.log.weight + \"' WHERE `device_id` = '\" + msg.log.device_id + \"' && log.count = 1 ORDER BY log.unit DESC LIMIT 1\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2880,"y":300,"wires":[["604b8835.6c5c68"]]},{"id":"5ebf13aa.d3eecc","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":3190,"y":280,"wires":[]},{"id":"8fa5bc94.e6771","type":"switch","z":"fa5d1194.000f4","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2110,"y":280,"wires":[["8e9a594c.207bf8"],["8aeec845.1a7948"]]},{"id":"8e9a594c.207bf8","type":"function","z":"fa5d1194.000f4","name":"insert log count ++ or reset","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd + \" \" + hh + \":\" + mmm + \":\" + ss;\n\nmsg.status = 0\nquery = \"INSERT INTO `log` (`device_id`,`weight`, `battery`, `time`, `count`) VALUES (?,?,?,?,?)\";\nmsg.payload = [msg.log.device_id, msg.log.weight, msg.log.battery, now, 1];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2340,"y":260,"wires":[["f13bbde4.70be9"]]},{"id":"f13bbde4.70be9","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":2550,"y":280,"wires":[["d0cf3df7.4bbc6"]]},{"id":"d4a160cb.24b37","type":"function","z":"fa5d1194.000f4","name":"update status delivery = 0","func":"msg.delivery = msg.payload\nquery = \"UPDATE `delivery` SET `status` = 0 WHERE `device_id` = '\" + msg.delivery[0]['device_id'] + \"' ORDER BY delivery.unit DESC LIMIT 1\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2890,"y":480,"wires":[["a8cfe9e8.7d0c28"]]},{"id":"a8cfe9e8.7d0c28","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":3110,"y":480,"wires":[["53b63207.cb6adc"]]},{"id":"6b21a5bb.80f1ac","type":"function","z":"fa5d1194.000f4","name":"lấy toàn bộ cửa hàng","func":"var out =   \"SELECT store.store_id, store.email FROM store\"\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":140,"wires":[["f835ba1a.e5bfa8"]]},{"id":"f835ba1a.e5bfa8","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":1750,"y":140,"wires":[["31d7e364.296c3c"]]},{"id":"34f25750.971058","type":"inject","z":"fa5d1194.000f4","name":"6h sáng tổng hợp mail","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"x":1330,"y":140,"wires":[["6b21a5bb.80f1ac"]]},{"id":"31d7e364.296c3c","type":"function","z":"fa5d1194.000f4","name":"lưu vào msg.store","func":"msg.store = {\n    \"total\" : msg.payload.length,\n    \"store_list\": msg.payload\n}\nmsg.count = msg.store.total - 1\nreturn msg","outputs":1,"noerr":0,"x":1930,"y":140,"wires":[["703f9c0e.5f3824"]]},{"id":"750a14d6.f1a88c","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":2330,"y":140,"wires":[["3bb72f8b.ce5f9","f4e2db70.18a448"]]},{"id":"703f9c0e.5f3824","type":"function","z":"fa5d1194.000f4","name":"list device of store","func":"var out =   \"SELECT delivery.device_id FROM delivery WHERE delivery.store_id ='\" + msg.store.store_list[msg.count]['store_id'] + \"' and delivery.status = 1\"\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":2150,"y":140,"wires":[["750a14d6.f1a88c"]]},{"id":"3bb72f8b.ce5f9","type":"function","z":"fa5d1194.000f4","name":"countdown ","func":"msg.count --\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":60,"wires":[["e7655945.46fd78"]]},{"id":"e7655945.46fd78","type":"switch","z":"fa5d1194.000f4","name":"","property":"count","propertyType":"msg","rules":[{"t":"else"},{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2310,"y":60,"wires":[[],["703f9c0e.5f3824"]]},{"id":"f4e2db70.18a448","type":"function","z":"fa5d1194.000f4","name":"sent list to mail","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd// + \" \" + hh + \":\" + mmm + \":\" + ss;\nvar out = \"<b>Danh sách khách hàng cần cung ứng gạo</b><br><u>Mã device:</u>\"\nfor (var i in msg.payload){\n    out += \"<br><big><b>\" + msg.payload[i]['device_id'] + \"</b></big>\";\n}\nmsg.topic = \"Thông báo cung cấp gạo đại lý <\" + msg.store.store_list[msg.count]['store_id'] + \"> ngày \" + now;\nmsg.to = msg.store.store_list[msg.count]['email']\nmsg.payload = out;\nreturn msg;\n","outputs":1,"noerr":0,"x":2540,"y":140,"wires":[["906a7f3a.8b02b","1e4e317e.a3703f"]]},{"id":"906a7f3a.8b02b","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2710,"y":100,"wires":[]},{"id":"1e4e317e.a3703f","type":"e-mail","z":"fa5d1194.000f4","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":2730,"y":140,"wires":[]},{"id":"65b6a9a4.daffc8","type":"comment","z":"fa5d1194.000f4","name":"Server wakup every day and sent email","info":"","x":1370,"y":80,"wires":[]},{"id":"9ba5f09c.6d3df","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"af6830a.1c8e8d","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"rBox","tz":""}]