THUNG_GAO_IOT/CODE_SERVER/Server_Sensor/Code_server_sensor_10_3_2019_luong1_luong2.txt
[{"id":"ef9cf4b4.f66d68","type":"mqtt in","z":"fa5d1194.000f4","name":"Nhận thông báo yêu cầu khách hàng","topic":"rBox/thongbao","qos":"2","broker":"9ba5f09c.6d3df","x":660,"y":80,"wires":[["38355d83.6c51e2"]]},{"id":"c74ebad2.f259f8","type":"function","z":"fa5d1194.000f4","name":"nội dung mail","func":"var out = \"\";\nif (isNaN(msg.payload)) {\n    \n    out = \"Hộ gia đình anh/chị: \" + msg.payload[0]['hoten'] + \".<br>Có mã thùng: \" + msg.payload[0]['id_box'] +  \".<br>Đang sử dụng: \" + msg.payload[0]['loaigao'] + \", sắp hết gạo.<br>Vui lòng liên hệ đến số điện thoại \" + msg.payload[0]['sdt'] + \" để cung ứng gạo.<br>Địa chỉ khách hàng: \" + msg.payload[0]['diachi'] + \". <br>Xin cảm ơn sự phục vụ tận tình của cửa hàng!<br>Goldeneytech.com.vn\";\n    msg.topic = \"Thông báo cung cấp gạo\";\n    msg.payload = out;\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"x":1686.931785583496,"y":177.7764711380005,"wires":[["f33f48a3.e79648","650ce2a3.9508bc","dc787974.7f7328"]]},{"id":"f33f48a3.e79648","type":"e-mail","z":"fa5d1194.000f4","server":"smtp.gmail.com","port":"465","secure":true,"name":"thunggaoiot@gmail.com;nguyenduytam3397@gmail.com","dname":"","x":1991.9316635131836,"y":246.81243419647217,"wires":[]},{"id":"650ce2a3.9508bc","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1908.9336585998535,"y":125.28216743469238,"wires":[]},{"id":"3595d2b.d21ef2e","type":"mqtt out","z":"fa5d1194.000f4","name":"","topic":"ServerToEsp","qos":"","retain":"","broker":"9ba5f09c.6d3df","x":2274.8336029052734,"y":190.33335494995117,"wires":[]},{"id":"dc787974.7f7328","type":"function","z":"fa5d1194.000f4","name":"tắt cờ nhấn nút hoặc cộng thêm 1","func":"msg.payload = {\n    id_box : 1234\n    // id_box : msg.payload[0]['id_box'],\n    // msg : \"button_unlock\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":2012.833511352539,"y":185.3333444595337,"wires":[["3595d2b.d21ef2e"]]},{"id":"6cc13368.542ffc","type":"mqtt in","z":"fa5d1194.000f4","name":"","topic":"cntn/iot/esp1/pin","qos":"2","broker":"9ba5f09c.6d3df","x":1704.8333358764648,"y":31.666671752929688,"wires":[["46ee814e.b2ee7"]]},{"id":"8cd32c79.47a92","type":"mqtt out","z":"fa5d1194.000f4","name":"","topic":"ServerToEsp","qos":"","retain":"","broker":"9ba5f09c.6d3df","x":2032.000015258789,"y":29.999996185302734,"wires":[]},{"id":"46ee814e.b2ee7","type":"function","z":"fa5d1194.000f4","name":"","func":"msg.payload = \"1\";\nmsg.topic = \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":1875.0000114440918,"y":31.999971389770508,"wires":[["8cd32c79.47a92"]]},{"id":"38355d83.6c51e2","type":"json","z":"fa5d1194.000f4","name":"","property":"payload","action":"","pretty":false,"x":870,"y":80,"wires":[["d4cc7dc1.8bb7e","1b258c16.4b6394"]]},{"id":"bfd053ef.d645a","type":"function","z":"fa5d1194.000f4","name":"select điền mail","func":"var id_box = msg.payload.id_box;\nif (isNaN(id_box))\n id_box = msg.payload[0]['id_box'];\n \nvar out = \"SELECT kh.id_box, kh.hoten, kh.diachi, kh.sdt, kh.loaigao FROM khachhang kh WHERE kh.id_box =\" + id_box;\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1332.8984298706055,"y":122.97659111022949,"wires":[["39262576.f066ea","d5c3bf5d.650c2"]]},{"id":"c04a628f.9e141","type":"mqtt out","z":"fa5d1194.000f4","name":"","topic":"cntn/iot/esp/thongbao","qos":"","retain":"","broker":"9ba5f09c.6d3df","x":801.8944702148438,"y":185.6523551940918,"wires":[]},{"id":"4278c07c.8325","type":"inject","z":"fa5d1194.000f4","name":"yêu cầu","topic":"thunggaoiot@gmail.com","payload":"{\"id_box\":412, \"thongbao\":\"yêu cầu\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":538.8866577148438,"y":199.4414176940918,"wires":[["c04a628f.9e141"]]},{"id":"d5c3bf5d.650c2","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":1511.89453125,"y":65.69924640655518,"wires":[]},{"id":"67e03fa0.e3952","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1642.886703491211,"y":268.6953172683716,"wires":[]},{"id":"d4cc7dc1.8bb7e","type":"switch","z":"fa5d1194.000f4","name":"kiểm tra trạng thái","property":"payload.thongbao","propertyType":"msg","rules":[{"t":"eq","v":"\"yêu cầu\"","vt":"jsonata"},{"t":"eq","v":"\"sắp hết\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":120,"wires":[["bfd053ef.d645a"],["64fcda0b.9985c4"]]},{"id":"6b30e7d9.565708","type":"inject","z":"fa5d1194.000f4","name":"sắp hết","topic":"thunggaoiot@gmail.com","payload":"{\"id_box\":412, \"thongbao\":\"sắp hết\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":538.9921264648438,"y":246.7890739440918,"wires":[["c04a628f.9e141"]]},{"id":"7aa6278b.3b1eb8","type":"inject","z":"fa5d1194.000f4","name":"còn gạo","topic":"thunggaoiot@gmail.com","payload":"{\"id_box\":412, \"thongbao\":\"còn gạo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":532.9999732971191,"y":303.0000138282776,"wires":[["c04a628f.9e141"]]},{"id":"1b258c16.4b6394","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":40,"wires":[]},{"id":"64fcda0b.9985c4","type":"function","z":"fa5d1194.000f4","name":"select kiểm tra kí","func":"var out =   \"SELECT kh.id_box, kh.khoiluong, MAX(tb.soki) as soki FROM khachhang kh INNER JOIN thietbi tb ON kh.id_box = tb.id_box WHERE kh.id_box =\" + msg.payload.id_box ; \n//+ \" ORDER BY tb.unit DESC LIMIT 1\"\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":871.1666564941406,"y":319.6667003631592,"wires":[["887d4def.bfcab"]]},{"id":"b14bccbb.e30ea","type":"function","z":"fa5d1194.000f4","name":"kiểm tra hết thật chưa","func":"if(msg.payload[0]['khoiluong'] - 2 > msg.payload[0]['soki'])\nmsg.payload.thongbao = \"đợi confirm\";\nelse\nmsg.payload.thongbao = \"đã hết\";\nreturn msg;","outputs":1,"noerr":0,"x":1137.166660308838,"y":327.66676330566406,"wires":[["a442d7e5.bb0878"]]},{"id":"e7a695bd.386a18","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1092.1666641235352,"y":456.66678619384766,"wires":[]},{"id":"a442d7e5.bb0878","type":"switch","z":"fa5d1194.000f4","name":"rẻ nhánh đợi hay gọi","property":"payload.thongbao","propertyType":"msg","rules":[{"t":"eq","v":"\"đã hết\"","vt":"jsonata"},{"t":"eq","v":"\"đợi confirm\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1357.1666717529297,"y":386.66670322418213,"wires":[["bfd053ef.d645a","6ef6b45a.b6b8fc"],["12129db2.3b23f2"]]},{"id":"6ef6b45a.b6b8fc","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.thongbao","x":1695.1666793823242,"y":368.33337020874023,"wires":[]},{"id":"12129db2.3b23f2","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.thongbao","x":1691.1666717529297,"y":418.33337211608887,"wires":[]},{"id":"65c02da2.0872d4","type":"inject","z":"fa5d1194.000f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2182.833381652832,"y":378.000036239624,"wires":[["dc787974.7f7328"]]},{"id":"39262576.f066ea","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":1491.0195083618164,"y":181.00390911102295,"wires":[["c74ebad2.f259f8","67e03fa0.e3952"]]},{"id":"36b464aa.307c4c","type":"inject","z":"fa5d1194.000f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":900,"wires":[["4c8bce08.a5fcb"]]},{"id":"79c6c94b.4c6158","type":"mqtt out","z":"fa5d1194.000f4","name":"","topic":"rBox/log","qos":"","retain":"","broker":"9ba5f09c.6d3df","x":1000,"y":900,"wires":[]},{"id":"4c8bce08.a5fcb","type":"function","z":"fa5d1194.000f4","name":"test log device","func":"msg.payload = {\n    \"device_id\" : \"rbox_0002\",\n    \"device_oauth\" : \"D431F2799ED0A22CDEF342D100A14CC8\",\n    \"weight\" : 1.1,\n    \"battery\" : 3.01\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":900,"wires":[["79c6c94b.4c6158"]]},{"id":"8a13982.9f77b68","type":"mqtt in","z":"fa5d1194.000f4","name":"","topic":"rBox/log","qos":"2","broker":"9ba5f09c.6d3df","x":1260,"y":960,"wires":[["86f3a12e.686e6"]]},{"id":"98f67935.164d28","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1750,"y":880,"wires":[]},{"id":"887d4def.bfcab","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":890.9999885559082,"y":413.66670393943787,"wires":[["b14bccbb.e30ea","e7a695bd.386a18"]]},{"id":"28d059d.0cf0aa6","type":"function","z":"fa5d1194.000f4","name":"gửi số liệu cho device đi ngủ","func":"msg.topic = msg.payload.device_id + msg.payload.device_oauth\nmsg.payload = {\n    \"content\": \"off\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":1000,"wires":[["3d6dc0bf.240a9"]]},{"id":"3d6dc0bf.240a9","type":"mqtt out","z":"fa5d1194.000f4","name":"","topic":"","qos":"","retain":"","broker":"9ba5f09c.6d3df","x":2010,"y":1000,"wires":[]},{"id":"b565af73.9b1fa","type":"mqtt in","z":"fa5d1194.000f4","name":"","topic":"rbox_0001D431F2799ED0A22CDEF342D100A14CC8","qos":"2","broker":"9ba5f09c.6d3df","x":720,"y":960,"wires":[["515c6fa6.7b4c9"]]},{"id":"515c6fa6.7b4c9","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":960,"wires":[]},{"id":"aa0973ff.10e4f","type":"comment","z":"fa5d1194.000f4","name":"Device fake test public and subscrible","info":"","x":670,"y":860,"wires":[]},{"id":"32eaf297.5acebe","type":"comment","z":"fa5d1194.000f4","name":"Server get log device","info":"","x":1320,"y":900,"wires":[]},{"id":"40955e54.e3f6e","type":"mqtt in","z":"fa5d1194.000f4","name":"","topic":"rBox/notify","qos":"2","broker":"9ba5f09c.6d3df","x":1260,"y":1100,"wires":[["602d8c2.50a4c74"]]},{"id":"602d8c2.50a4c74","type":"json","z":"fa5d1194.000f4","name":"","property":"payload","action":"","pretty":false,"x":1390,"y":1100,"wires":[["1bfee5b7.7969ca"]]},{"id":"363f6b40.5edbe4","type":"mqtt in","z":"fa5d1194.000f4","name":"","topic":"rBox/battery","qos":"2","broker":"9ba5f09c.6d3df","x":1270,"y":1200,"wires":[["4fa376f3.63dc68"]]},{"id":"970d34b2.ee6958","type":"function","z":"fa5d1194.000f4","name":"check oauth","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":960,"wires":[["28d059d.0cf0aa6","98f67935.164d28","313c5b10.eb0894"]]},{"id":"59d62d60.8cc7f4","type":"function","z":"fa5d1194.000f4","name":"check oauth","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":1220,"wires":[["74a93fbe.abdab"]]},{"id":"68ec1538.23a5dc","type":"inject","z":"fa5d1194.000f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":1040,"wires":[["6b1fc11f.f96ca"]]},{"id":"6b1fc11f.f96ca","type":"function","z":"fa5d1194.000f4","name":"test notify device","func":"msg.payload = {\n    \"device_id\" : \"rbox_0002\",\n    \"device_oauth\" : \"D431F2799ED0A22CDEF342D100A14CC8\",\n    \"notify\": \"low\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1040,"wires":[["e6efe55b.d46f18"]]},{"id":"e6efe55b.d46f18","type":"mqtt out","z":"fa5d1194.000f4","name":"","topic":"rBox/notify","qos":"","retain":"","broker":"9ba5f09c.6d3df","x":1010,"y":1040,"wires":[]},{"id":"74a93fbe.abdab","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":1220,"wires":[]},{"id":"1bfee5b7.7969ca","type":"function","z":"fa5d1194.000f4","name":"check oauth","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":1140,"wires":[["5acc399.7d1a2c8"]]},{"id":"4fa376f3.63dc68","type":"json","z":"fa5d1194.000f4","name":"","property":"payload","action":"","pretty":false,"x":1410,"y":1200,"wires":[["59d62d60.8cc7f4"]]},{"id":"86f3a12e.686e6","type":"json","z":"fa5d1194.000f4","name":"","property":"payload","action":"","pretty":false,"x":1390,"y":960,"wires":[["970d34b2.ee6958"]]},{"id":"231e3721.1e8428","type":"inject","z":"fa5d1194.000f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":1100,"wires":[["447089c7.3734c8"]]},{"id":"447089c7.3734c8","type":"function","z":"fa5d1194.000f4","name":"test battery device","func":"msg.payload = {\n    \"device_id\" : \"rbox_0001\",\n    \"device_oauth\" : \"D431F2799ED0A22CDEF342D100A14CC8\",\n    \"battery\": \"low\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1100,"wires":[["98024fff.41832"]]},{"id":"98024fff.41832","type":"mqtt out","z":"fa5d1194.000f4","name":"","topic":"rBox/battery","qos":"","retain":"","broker":"9ba5f09c.6d3df","x":1010,"y":1100,"wires":[]},{"id":"199eafdb.90da6","type":"inject","z":"fa5d1194.000f4","name":"6h sáng tổng hợp mail","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"x":2210,"y":800,"wires":[[]]},{"id":"5acc399.7d1a2c8","type":"function","z":"fa5d1194.000f4","name":"select kiểm tra kí","func":"var out =   \"SELECT log.device_id, log.weight, rice_used.weight as weight_buy FROM log INNER JOIN rice_used ON log.device_id = rice_used.device_id WHERE log.device_id ='\" + msg.payload.device_id +\"' and log.count = 1 ORDER BY log.unit DESC LIMIT 1\"\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":1140,"wires":[["c62ae4d4.1816c8"]]},{"id":"c62ae4d4.1816c8","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":1890,"y":1140,"wires":[["430bb75d.1932f8"]]},{"id":"313c5b10.eb0894","type":"function","z":"fa5d1194.000f4","name":"select kiểm tra kí","func":"msg.log = msg.payload\nvar out =   \"SELECT log.device_id , log.weight, log.count, rice_used.status FROM log INNER JOIN rice_used ON log.device_id = rice_used.device_id WHERE log.device_id ='\" + msg.payload.device_id + \"' ORDER BY log.unit DESC LIMIT 1\"\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":940,"wires":[["4222269f.b53f08"]]},{"id":"4222269f.b53f08","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":1970,"y":940,"wires":[["8fa5bc94.e6771"]]},{"id":"8aeec845.1a7948","type":"function","z":"fa5d1194.000f4","name":"insert log count ++ or reset","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd + \" \" + hh + \":\" + mmm + \":\" + ss;\n\nif (msg.payload[0]['status'] == 1 && msg.log.weight - msg.payload[0]['weight'] >= 2.5){ //2,5 la co dau hieu do lai gao \n    msg.payload[0]['count'] = 1 //reset ve 1\n    msg.status = 0\n}else if (msg.payload[0]['status'] === 0 && msg.log.weight - msg.payload[0]['weight'] >= 2.5){ //2,5 la co dau hieu do lai gao \n    // đây chính là trường hợp gạo tăng do đổ lần 2, không phải mua mới\n    // cần có cờ ở đây để tính tổng 2, 3 lần đỗ gạo so với tổng đã mua thì mới xác nhận dc là hết gạo\n    msg.status = 1\n    msg.payload[0]['count']++\n}else{\n    msg.payload[0]['count']++\n}\n\nquery = \"INSERT INTO `log` (`device_id`,`weight`, `battery`, `time`, `count`) VALUES (?,?,?,?,?)\";\nmsg.payload = [msg.log.device_id, msg.log.weight, msg.log.battery, now, msg.payload[0]['count']];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2340,"y":960,"wires":[["f13bbde4.70be9"]]},{"id":"f13bbde4.70be9","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":2550,"y":940,"wires":[["d0cf3df7.4bbc6"]]},{"id":"d0cf3df7.4bbc6","type":"switch","z":"fa5d1194.000f4","name":"","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":2690,"y":940,"wires":[["9125c91b.697938"],["def58249.ab4f5"],[]]},{"id":"9125c91b.697938","type":"function","z":"fa5d1194.000f4","name":"update status rice_used = 0","func":"query = \"UPDATE `rice_used` SET `status` = 0 WHERE `device_id` = '\" + msg.log.device_id + \"'\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2880,"y":920,"wires":[["604b8835.6c5c68"]]},{"id":"604b8835.6c5c68","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":3070,"y":940,"wires":[["5ebf13aa.d3eecc"]]},{"id":"430bb75d.1932f8","type":"function","z":"fa5d1194.000f4","name":"trust rice enough","func":"if (msg.payload[0]['weight_buy'] - msg.payload[0]['weight'] >= 2.5){\n    msg.enough = 1 \n}\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":1200,"wires":[["87caab25.6f6648"]]},{"id":"87caab25.6f6648","type":"switch","z":"fa5d1194.000f4","name":"","property":"enough","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2150,"y":1200,"wires":[["58167690.02ef68"],["556f4f7e.cb81b"]]},{"id":"556f4f7e.cb81b","type":"function","z":"fa5d1194.000f4","name":"search in map (change if lookup google map)","func":"var out = \"SELECT map.device_id , map.store_id FROM map WHERE map.device_id ='\" + msg.payload[0]['device_id'] + \"'\"\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":2410,"y":1240,"wires":[["13e5dd1.8e80923"]]},{"id":"bf76feb0.c4c06","type":"comment","z":"fa5d1194.000f4","name":"luồng này là gạo vẫn còn nên không làm gì cả","info":"","x":2390,"y":1200,"wires":[]},{"id":"13e5dd1.8e80923","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":2650,"y":1240,"wires":[["53b63207.cb6adc","6b832c11.9e6004"]]},{"id":"53b63207.cb6adc","type":"function","z":"fa5d1194.000f4","name":"insert list delivery","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd + \" \" + hh + \":\" + mmm + \":\" + ss;\n\nquery = \"INSERT INTO `delivery` (`device_id`, `store_id`, `time`) VALUES (?,?,?)\";\nmsg.payload = [msg.payload[0]['device_id'], msg.payload[0]['store_id'], now];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2830,"y":1240,"wires":[["53829d07.fcbcf4"]]},{"id":"53829d07.fcbcf4","type":"mysql","z":"fa5d1194.000f4","mydb":"af6830a.1c8e8d","name":"","x":3030,"y":1240,"wires":[["81391031.c1038"]]},{"id":"6b832c11.9e6004","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2830,"y":1200,"wires":[]},{"id":"81391031.c1038","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":3180,"y":1240,"wires":[]},{"id":"58167690.02ef68","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2350,"y":1160,"wires":[]},{"id":"def58249.ab4f5","type":"function","z":"fa5d1194.000f4","name":"update total for the first log","func":"query = \"UPDATE `log` SET `weight` = `weight` + '\" + msg.log.weight + \"' WHERE `device_id` = '\" + msg.log.device_id + \"' && log.count = 1 ORDER BY log.unit DESC LIMIT 1\"; //luon luon 1 de cap nhat 0\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2880,"y":960,"wires":[["604b8835.6c5c68"]]},{"id":"5ebf13aa.d3eecc","type":"debug","z":"fa5d1194.000f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":3190,"y":940,"wires":[]},{"id":"8fa5bc94.e6771","type":"switch","z":"fa5d1194.000f4","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2110,"y":940,"wires":[["8e9a594c.207bf8"],["8aeec845.1a7948"]]},{"id":"8e9a594c.207bf8","type":"function","z":"fa5d1194.000f4","name":"insert log count ++ or reset","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss}); \nnow = yyyy + \"-\" + mm + \"-\" + dd + \" \" + hh + \":\" + mmm + \":\" + ss;\n\nmsg.status = 0\nquery = \"INSERT INTO `log` (`device_id`,`weight`, `battery`, `time`, `count`) VALUES (?,?,?,?,?)\";\nmsg.payload = [msg.log.device_id, msg.log.weight, msg.log.battery, now, 1];\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":2340,"y":920,"wires":[["f13bbde4.70be9"]]},{"id":"9ba5f09c.6d3df","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"af6830a.1c8e8d","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"rBox","tz":""}]